<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actor0_0</key>
            <dict>
                <key>frame</key>
                <string>{{283,552},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_1</key>
            <dict>
                <key>frame</key>
                <string>{{196,554},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_10</key>
            <dict>
                <key>frame</key>
                <string>{{93,556},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_12</key>
            <dict>
                <key>frame</key>
                <string>{{368,554},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_13</key>
            <dict>
                <key>frame</key>
                <string>{{281,635},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_14</key>
            <dict>
                <key>frame</key>
                <string>{{196,471},{85,81}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{85,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_15</key>
            <dict>
                <key>frame</key>
                <string>{{196,471},{85,81}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{85,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_16</key>
            <dict>
                <key>frame</key>
                <string>{{196,471},{85,81}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{85,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_17</key>
            <dict>
                <key>frame</key>
                <string>{{196,471},{85,81}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{85,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_18</key>
            <dict>
                <key>frame</key>
                <string>{{196,471},{85,81}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{85,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_19</key>
            <dict>
                <key>frame</key>
                <string>{{196,471},{85,81}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{85,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_2</key>
            <dict>
                <key>frame</key>
                <string>{{178,637},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_20</key>
            <dict>
                <key>frame</key>
                <string>{{196,471},{85,81}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{85,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_21</key>
            <dict>
                <key>frame</key>
                <string>{{196,471},{85,81}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{85,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_22</key>
            <dict>
                <key>frame</key>
                <string>{{196,471},{85,81}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{85,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_23</key>
            <dict>
                <key>frame</key>
                <string>{{196,471},{85,81}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{85,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_24</key>
            <dict>
                <key>frame</key>
                <string>{{87,639},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_25</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_26</key>
            <dict>
                <key>frame</key>
                <string>{{366,637},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_27</key>
            <dict>
                <key>frame</key>
                <string>{{283,552},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_28</key>
            <dict>
                <key>frame</key>
                <string>{{406,299},{83,95}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,95}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_29</key>
            <dict>
                <key>frame</key>
                <string>{{305,382},{83,95}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,95}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_3</key>
            <dict>
                <key>frame</key>
                <string>{{263,718},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_30</key>
            <dict>
                <key>frame</key>
                <string>{{402,384},{83,95}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,95}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_31</key>
            <dict>
                <key>frame</key>
                <string>{{103,386},{83,95}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,95}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_32</key>
            <dict>
                <key>frame</key>
                <string>{{406,299},{83,95}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,95}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_33</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{83,95}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,95}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_34</key>
            <dict>
                <key>frame</key>
                <string>{{200,386},{83,95}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,95}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_35</key>
            <dict>
                <key>frame</key>
                <string>{{297,467},{83,95}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,95}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_36</key>
            <dict>
                <key>frame</key>
                <string>{{394,469},{83,95}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,95}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_37</key>
            <dict>
                <key>frame</key>
                <string>{{99,471},{83,95}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,95}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_38</key>
            <dict>
                <key>frame</key>
                <string>{{283,552},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_39</key>
            <dict>
                <key>frame</key>
                <string>{{283,552},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_4</key>
            <dict>
                <key>frame</key>
                <string>{{196,554},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_40</key>
            <dict>
                <key>frame</key>
                <string>{{283,552},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_41</key>
            <dict>
                <key>frame</key>
                <string>{{283,552},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_42</key>
            <dict>
                <key>frame</key>
                <string>{{283,552},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_43</key>
            <dict>
                <key>frame</key>
                <string>{{172,720},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_44</key>
            <dict>
                <key>frame</key>
                <string>{{87,722},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_45</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{89,83}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{89,83}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_46</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{89,83}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{89,83}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_47</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{89,83}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{89,83}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_48</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{89,83}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{89,83}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_49</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{89,83}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{89,83}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_5</key>
            <dict>
                <key>frame</key>
                <string>{{178,637},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_50</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{89,83}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{89,83}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_51</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{89,83}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{89,83}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_52</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{99,81}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{99,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_53</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{99,81}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{99,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_54</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{99,85}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{99,85}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_55</key>
            <dict>
                <key>frame</key>
                <string>{{103,297},{99,87}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{99,87}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_56</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{99,89}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{99,89}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_57</key>
            <dict>
                <key>frame</key>
                <string>{{204,295},{99,89}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{99,89}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_58</key>
            <dict>
                <key>frame</key>
                <string>{{103,204},{99,91}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{99,91}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_59</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{99,93}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{99,93}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_6</key>
            <dict>
                <key>frame</key>
                <string>{{93,556},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_60</key>
            <dict>
                <key>frame</key>
                <string>{{307,202},{99,95}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{99,95}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_61</key>
            <dict>
                <key>frame</key>
                <string>{{408,202},{99,95}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{99,95}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_62</key>
            <dict>
                <key>frame</key>
                <string>{{307,103},{99,97}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{99,97}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_63</key>
            <dict>
                <key>frame</key>
                <string>{{408,103},{99,97}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{99,97}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_64</key>
            <dict>
                <key>frame</key>
                <string>{{105,103},{99,99}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{99,99}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_65</key>
            <dict>
                <key>frame</key>
                <string>{{206,103},{99,99}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{99,99}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_66</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{99,101}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{99,101}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_67</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{99,101}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{99,101}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_68</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{99,103}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{99,103}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_69</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{99,103}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{99,103}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_7</key>
            <dict>
                <key>frame</key>
                <string>{{196,554},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_70</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{99,105}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_71</key>
            <dict>
                <key>frame</key>
                <string>{{305,299},{99,81}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{99,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_72</key>
            <dict>
                <key>frame</key>
                <string>{{93,556},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_73</key>
            <dict>
                <key>frame</key>
                <string>{{2,801},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_74</key>
            <dict>
                <key>frame</key>
                <string>{{348,720},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_75</key>
            <dict>
                <key>frame</key>
                <string>{{257,801},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_76</key>
            <dict>
                <key>frame</key>
                <string>{{172,803},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_77</key>
            <dict>
                <key>frame</key>
                <string>{{87,805},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_78</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_79</key>
            <dict>
                <key>frame</key>
                <string>{{342,803},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_8</key>
            <dict>
                <key>frame</key>
                <string>{{178,637},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_80</key>
            <dict>
                <key>frame</key>
                <string>{{257,884},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_81</key>
            <dict>
                <key>frame</key>
                <string>{{172,886},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_82</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_83</key>
            <dict>
                <key>frame</key>
                <string>{{87,888},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_84</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_85</key>
            <dict>
                <key>frame</key>
                <string>{{427,803},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_86</key>
            <dict>
                <key>frame</key>
                <string>{{342,886},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_87</key>
            <dict>
                <key>frame</key>
                <string>{{257,967},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_88</key>
            <dict>
                <key>frame</key>
                <string>{{172,969},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_89</key>
            <dict>
                <key>frame</key>
                <string>{{87,971},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_9</key>
            <dict>
                <key>frame</key>
                <string>{{93,556},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_90</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_91</key>
            <dict>
                <key>frame</key>
                <string>{{427,888},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_92</key>
            <dict>
                <key>frame</key>
                <string>{{342,969},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_93</key>
            <dict>
                <key>frame</key>
                <string>{{257,1050},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_94</key>
            <dict>
                <key>frame</key>
                <string>{{172,1052},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_95</key>
            <dict>
                <key>frame</key>
                <string>{{427,973},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_96</key>
            <dict>
                <key>frame</key>
                <string>{{342,1052},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>actor0_97</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{83,81}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{83,81}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>actor0.png</string>
            <key>size</key>
            <string>{510,1135}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5223da6d503c38e1f8e8840076e6ca2e:db7bf83ec269f53a4c6a775c0cd66a9e:00e1a6cfa1cde78f69e8d357795af273$</string>
            <key>textureFileName</key>
            <string>actor0.png</string>
        </dict>
    </dict>
</plist>
