<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addUI_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>addUI_normal</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>addUI_selected</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>addUI.png</string>
            <key>size</key>
            <string>{134,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b42f319d31ccd7de2c6a1b7d9210bf7:7b8a7742c3bcae7b8b9071db4311b9eb:4da52bbddec8264c28cccc498c6df8b4$</string>
            <key>textureFileName</key>
            <string>addUI.png</string>
        </dict>
    </dict>
</plist>
