<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss1_0</key>
            <dict>
                <key>frame</key>
                <string>{{404,285},{104,85}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{104,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_1</key>
            <dict>
                <key>frame</key>
                <string>{{328,1236},{104,85}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{104,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,955},{108,85}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{108,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_11</key>
            <dict>
                <key>frame</key>
                <string>{{402,372},{106,85}}</string>
                <key>offset</key>
                <string>{9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,36},{106,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_12</key>
            <dict>
                <key>frame</key>
                <string>{{110,1212},{104,85}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{104,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_13</key>
            <dict>
                <key>frame</key>
                <string>{{2,1471},{102,85}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,36},{102,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{104,85}}</string>
                <key>offset</key>
                <string>{9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,36},{104,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_15</key>
            <dict>
                <key>frame</key>
                <string>{{222,1123},{106,85}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{106,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_16</key>
            <dict>
                <key>frame</key>
                <string>{{112,1125},{106,85}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{106,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_17</key>
            <dict>
                <key>frame</key>
                <string>{{112,955},{108,85}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,36},{108,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_18</key>
            <dict>
                <key>frame</key>
                <string>{{222,1036},{108,85}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,36},{108,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_19</key>
            <dict>
                <key>frame</key>
                <string>{{2,1129},{106,85}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{106,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_2</key>
            <dict>
                <key>frame</key>
                <string>{{216,1297},{104,85}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{104,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_20</key>
            <dict>
                <key>frame</key>
                <string>{{330,1149},{106,85}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{106,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_21</key>
            <dict>
                <key>frame</key>
                <string>{{108,1299},{104,85}}</string>
                <key>offset</key>
                <string>{9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,36},{104,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_22</key>
            <dict>
                <key>frame</key>
                <string>{{2,1303},{104,85}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{104,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_23</key>
            <dict>
                <key>frame</key>
                <string>{{404,285},{104,85}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{104,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_24</key>
            <dict>
                <key>frame</key>
                <string>{{176,1471},{100,85}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{100,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_25</key>
            <dict>
                <key>frame</key>
                <string>{{126,611},{114,85}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{114,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_26</key>
            <dict>
                <key>frame</key>
                <string>{{266,524},{124,85}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,36},{124,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_27</key>
            <dict>
                <key>frame</key>
                <string>{{270,350},{130,85}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{130,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_28</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{130,85}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{130,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_29</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{132,85}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{132,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_3</key>
            <dict>
                <key>frame</key>
                <string>{{89,1471},{102,85}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,36},{102,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_30</key>
            <dict>
                <key>frame</key>
                <string>{{136,89},{132,85}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{132,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_31</key>
            <dict>
                <key>frame</key>
                <string>{{270,89},{132,85}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{132,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_32</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,85}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{134,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_33</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{134,85}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{134,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_34</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{132,85}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{132,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_35</key>
            <dict>
                <key>frame</key>
                <string>{{134,437},{130,85}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{130,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_36</key>
            <dict>
                <key>frame</key>
                <string>{{266,437},{130,85}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{130,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_37</key>
            <dict>
                <key>frame</key>
                <string>{{136,176},{132,85}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{132,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_38</key>
            <dict>
                <key>frame</key>
                <string>{{270,176},{132,85}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{132,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_39</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{132,85}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{132,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_4</key>
            <dict>
                <key>frame</key>
                <string>{{322,1323},{104,85}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,36},{104,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_40</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{134,85}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{134,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_41</key>
            <dict>
                <key>frame</key>
                <string>{{136,263},{132,85}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{132,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_42</key>
            <dict>
                <key>frame</key>
                <string>{{270,263},{132,85}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{132,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_43</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{132,85}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{132,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_44</key>
            <dict>
                <key>frame</key>
                <string>{{136,350},{132,85}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{132,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_45</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{130,85}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{130,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_46</key>
            <dict>
                <key>frame</key>
                <string>{{134,524},{130,85}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{130,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_47</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{122,85}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,36},{122,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_48</key>
            <dict>
                <key>frame</key>
                <string>{{392,546},{116,85}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,36},{116,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_49</key>
            <dict>
                <key>frame</key>
                <string>{{332,1062},{108,85}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{108,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_5</key>
            <dict>
                <key>frame</key>
                <string>{{214,1384},{104,85}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{104,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_50</key>
            <dict>
                <key>frame</key>
                <string>{{263,1471},{100,85}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{100,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_51</key>
            <dict>
                <key>frame</key>
                <string>{{404,162},{104,121}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{104,121}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_52</key>
            <dict>
                <key>frame</key>
                <string>{{242,611},{114,85}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{114,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_53</key>
            <dict>
                <key>frame</key>
                <string>{{234,698},{114,83}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{114,83}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_54</key>
            <dict>
                <key>frame</key>
                <string>{{350,720},{114,83}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{114,83}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_55</key>
            <dict>
                <key>frame</key>
                <string>{{234,783},{114,83}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{114,83}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_56</key>
            <dict>
                <key>frame</key>
                <string>{{358,633},{114,85}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{114,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_57</key>
            <dict>
                <key>frame</key>
                <string>{{350,805},{114,83}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{114,83}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_58</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{114,83}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{114,83}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_59</key>
            <dict>
                <key>frame</key>
                <string>{{234,953},{114,81}}</string>
                <key>offset</key>
                <string>{15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,40},{114,81}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_6</key>
            <dict>
                <key>frame</key>
                <string>{{220,1210},{106,85}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{106,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_60</key>
            <dict>
                <key>frame</key>
                <string>{{118,785},{114,83}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{114,83}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_61</key>
            <dict>
                <key>frame</key>
                <string>{{234,868},{114,83}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{114,83}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_62</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{114,85}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{114,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_63</key>
            <dict>
                <key>frame</key>
                <string>{{118,698},{114,85}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{114,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_64</key>
            <dict>
                <key>frame</key>
                <string>{{350,890},{114,83}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{114,83}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_65</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{114,83}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{114,83}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_66</key>
            <dict>
                <key>frame</key>
                <string>{{118,870},{114,83}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{114,83}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_67</key>
            <dict>
                <key>frame</key>
                <string>{{112,1042},{108,81}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,40},{108,81}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_68</key>
            <dict>
                <key>frame</key>
                <string>{{108,1386},{104,79}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,42},{104,79}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_69</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{98,79}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,42},{98,79}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,1042},{108,85}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,36},{108,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_70</key>
            <dict>
                <key>frame</key>
                <string>{{410,83},{92,77}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,44},{92,77}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_71</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{86,77}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,44},{86,77}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_72</key>
            <dict>
                <key>frame</key>
                <string>{{434,1250},{86,75}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,46},{86,75}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_73</key>
            <dict>
                <key>frame</key>
                <string>{{428,1338},{86,75}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,46},{86,75}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_74</key>
            <dict>
                <key>frame</key>
                <string>{{350,1410},{86,75}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,46},{86,75}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_75</key>
            <dict>
                <key>frame</key>
                <string>{{350,1498},{86,73}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,48},{86,73}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_76</key>
            <dict>
                <key>frame</key>
                <string>{{438,1164},{84,71}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,50},{84,71}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_77</key>
            <dict>
                <key>frame</key>
                <string>{{442,1062},{100,63}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,58},{100,63}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_78</key>
            <dict>
                <key>frame</key>
                <string>{{466,720},{104,39}}</string>
                <key>offset</key>
                <string>{7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,82},{104,39}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_79</key>
            <dict>
                <key>frame</key>
                <string>{{466,720},{104,39}}</string>
                <key>offset</key>
                <string>{7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,82},{104,39}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_8</key>
            <dict>
                <key>frame</key>
                <string>{{398,459},{110,85}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,36},{110,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_80</key>
            <dict>
                <key>frame</key>
                <string>{{466,720},{104,39}}</string>
                <key>offset</key>
                <string>{7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,82},{104,39}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_81</key>
            <dict>
                <key>frame</key>
                <string>{{466,720},{104,39}}</string>
                <key>offset</key>
                <string>{7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,82},{104,39}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_9</key>
            <dict>
                <key>frame</key>
                <string>{{350,975},{110,85}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,36},{110,85}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>boss1_background</key>
            <dict>
                <key>frame</key>
                <string>{{462,975},{47,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,73}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss1.png</string>
            <key>size</key>
            <string>{511,1576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bae928d5110ea9c93a7ed1647e0c2a3:61233f1878787dafdd2e4cfcbb8a81b2:f7da36913cf762b9acd43ec7c6516c11$</string>
            <key>textureFileName</key>
            <string>boss1.png</string>
        </dict>
    </dict>
</plist>
