<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnLevelUI_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>btnLevelUI_normal</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>btnLevelUI_selected</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btnLevelUI.png</string>
            <key>size</key>
            <string>{371,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4db55a1d5f7d859f191b67efbedf9f1:e0efeaf3a30fa0ee139315a71a2cd006:64348480e386768c69aca05bbf1478ec$</string>
            <key>textureFileName</key>
            <string>btnLevelUI.png</string>
        </dict>
    </dict>
</plist>
