<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnReturnUI_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>btnReturnUI_normal</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>btnReturnUI_selected</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btnReturnUI.png</string>
            <key>size</key>
            <string>{218,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3900206f37475350ab84fd8477a29b6c:d64f20dfc972b7076954a7d51dc9d8a1:e0caa144843ac3890ed320b90f73325c$</string>
            <key>textureFileName</key>
            <string>btnReturnUI.png</string>
        </dict>
    </dict>
</plist>
