<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnStart_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,89}}</string>
                <key>sourceSize</key>
                <string>{250,89}</string>
            </dict>
            <key>btnStart_normal</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{250,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,89}}</string>
                <key>sourceSize</key>
                <string>{250,89}</string>
            </dict>
            <key>btnStart_selected</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{250,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,89}}</string>
                <key>sourceSize</key>
                <string>{250,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btnStart.png</string>
            <key>size</key>
            <string>{758,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec6d1a57b853f3be8eebed1297bf1601:9e22e1f6dc4e89575868e7215a9bbab2:da49049c455b9e3058a0301f24e00c15$</string>
            <key>textureFileName</key>
            <string>btnStart.png</string>
        </dict>
    </dict>
</plist>
