<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clock_0</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{39,39}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_1</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{39,39}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_10</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{45,45}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_12</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_13</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_14</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_15</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_16</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{45,45}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_17</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{45,45}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_18</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{45,45}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_19</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{43,43}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_2</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{41,41}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_20</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{43,43}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_21</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{43,43}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_22</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{43,43}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_23</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{41,41}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_24</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{41,41}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_25</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{39,39}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_26</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{39,39}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_27</key>
            <dict>
                <key>frame</key>
                <string>{{697,2},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{41,41}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_28</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{43,43}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_29</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{45,45}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_3</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{41,41}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_30</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_31</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_32</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_33</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{45,45}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_34</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{43,43}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_35</key>
            <dict>
                <key>frame</key>
                <string>{{697,2},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{41,41}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_36</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{39,39}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_4</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{43,43}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_5</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{43,43}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_6</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{43,43}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_7</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{43,43}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_8</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{45,45}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>clock_9</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{45,45}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>clock.png</string>
            <key>size</key>
            <string>{781,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78bea3dfc888e9e5ca25ccd52279239e:1fae49716ae366f36c41c77bdb03e9dd:346fb1c39c2323ce7743080e0e7b836b$</string>
            <key>textureFileName</key>
            <string>clock.png</string>
        </dict>
    </dict>
</plist>
