<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diamondsBig_0</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{111,107}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{111,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_1</key>
            <dict>
                <key>frame</key>
                <string>{{123,539},{111,103}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{111,103}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{105,119}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{105,119}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{103,121}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{103,121}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{105,121}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{105,121}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_13</key>
            <dict>
                <key>frame</key>
                <string>{{121,749},{105,117}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{105,117}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_14</key>
            <dict>
                <key>frame</key>
                <string>{{125,111},{105,113}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{105,113}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_15</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{109,105}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{109,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_16</key>
            <dict>
                <key>frame</key>
                <string>{{123,325},{115,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{115,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_17</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{119,107}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{119,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_18</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,107}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{123,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_19</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{119,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{119,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{109,103}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{109,103}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_20</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{117,107}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{117,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_21</key>
            <dict>
                <key>frame</key>
                <string>{{123,644},{111,103}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{111,103}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_22</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{111,101}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{111,101}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_23</key>
            <dict>
                <key>frame</key>
                <string>{{125,218},{111,105}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{111,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_3</key>
            <dict>
                <key>frame</key>
                <string>{{113,967},{109,107}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{109,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_4</key>
            <dict>
                <key>frame</key>
                <string>{{115,856},{109,109}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{109,109}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{109,109}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{109,109}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,1183},{107,107}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{107,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_7</key>
            <dict>
                <key>frame</key>
                <string>{{111,1183},{107,105}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,17},{107,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_8</key>
            <dict>
                <key>frame</key>
                <string>{{113,1076},{105,109}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{105,109}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>diamondsBig_9</key>
            <dict>
                <key>frame</key>
                <string>{{123,432},{105,115}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{105,115}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diamondsBig.png</string>
            <key>size</key>
            <string>{240,1292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:067621b6b44ad60cf7705f23354f6bc4:36816f1cd8a8846a7d7b93ee681358b1:8557098f4aee400c7f60946d00f22766$</string>
            <key>textureFileName</key>
            <string>diamondsBig.png</string>
        </dict>
    </dict>
</plist>
