<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diamonds_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{48,39}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{48,39}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{48,37}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{48,37}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{46,43}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,43}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,789},{44,45}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{44,45}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{46,45}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{46,45}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_13</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{44,43}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{44,43}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,925},{44,41}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{44,41}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_15</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{48,39}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{48,39}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_16</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{50,39}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{50,39}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_17</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{52,39}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{52,39}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_18</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,39}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{54,39}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_19</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{52,39}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{52,39}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{46,39}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{46,39}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_20</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{50,39}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{50,39}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_21</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{48,37}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_22</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{48,37}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{48,37}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_23</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{48,39}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{48,39}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{46,39}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{46,39}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{46,41}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{46,41}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,707},{46,39}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{46,39}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{46,41}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{46,41}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{46,39}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{46,39}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{44,41}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{44,41}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>diamonds_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{44,43}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{44,43}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diamonds.png</string>
            <key>size</key>
            <string>{58,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a706d34714b1c23e22b592a08f4ce6f9:2abb1f2d6fc57c7ba5f72ff678a0173f:2e0542418ab95165aa3259160794ce16$</string>
            <key>textureFileName</key>
            <string>diamonds.png</string>
        </dict>
    </dict>
</plist>
