<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diamondUI_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{231,50}}</string>
                <key>sourceSize</key>
                <string>{235,54}</string>
            </dict>
            <key>diamondUI_1</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{180,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,50}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diamondUI.png</string>
            <key>size</key>
            <string>{417,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3be1270178570f22ee117c0fa57ee9f:049e0d446b2f4918a5deb31ef902bd36:370a7aff94093e1cf919e01612ac1df5$</string>
            <key>textureFileName</key>
            <string>diamondUI.png</string>
        </dict>
    </dict>
</plist>
