<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>electrician0_0</key>
            <dict>
                <key>frame</key>
                <string>{{695,65},{57,59}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{57,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_1</key>
            <dict>
                <key>frame</key>
                <string>{{695,65},{57,59}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{57,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_10</key>
            <dict>
                <key>frame</key>
                <string>{{757,2},{49,59}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,54},{49,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_11</key>
            <dict>
                <key>frame</key>
                <string>{{807,63},{49,59}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,54},{49,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_12</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{49,59}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,54},{49,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_13</key>
            <dict>
                <key>frame</key>
                <string>{{858,63},{49,59}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,54},{49,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_14</key>
            <dict>
                <key>frame</key>
                <string>{{859,2},{49,59}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,54},{49,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_15</key>
            <dict>
                <key>frame</key>
                <string>{{909,63},{49,59}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,54},{49,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_16</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{49,59}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,54},{49,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_17</key>
            <dict>
                <key>frame</key>
                <string>{{960,63},{49,59}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,54},{49,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_18</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{49,59}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,54},{49,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_19</key>
            <dict>
                <key>frame</key>
                <string>{{757,2},{49,59}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,54},{49,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_2</key>
            <dict>
                <key>frame</key>
                <string>{{695,65},{57,59}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{57,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_20</key>
            <dict>
                <key>frame</key>
                <string>{{1056,2},{51,55}}</string>
                <key>offset</key>
                <string>{-11,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,58},{51,55}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_21</key>
            <dict>
                <key>frame</key>
                <string>{{1056,59},{51,53}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,60},{51,53}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_22</key>
            <dict>
                <key>frame</key>
                <string>{{754,63},{59,51}}</string>
                <key>offset</key>
                <string>{-7,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,62},{59,51}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_23</key>
            <dict>
                <key>frame</key>
                <string>{{546,79},{69,45}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,68},{69,45}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_24</key>
            <dict>
                <key>frame</key>
                <string>{{591,2},{73,39}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,74},{73,39}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_25</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{75,43}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,70},{75,43}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_26</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{75,43}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,70},{75,43}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_27</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{75,43}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,70},{75,43}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_28</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{75,43}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,70},{75,43}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_29</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{41,59}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,54},{41,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_3</key>
            <dict>
                <key>frame</key>
                <string>{{695,65},{57,59}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{57,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_30</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{41,59}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,54},{41,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_31</key>
            <dict>
                <key>frame</key>
                <string>{{617,77},{61,49}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,64},{61,49}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_32</key>
            <dict>
                <key>frame</key>
                <string>{{617,77},{61,49}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,64},{61,49}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_33</key>
            <dict>
                <key>frame</key>
                <string>{{1011,63},{59,43}}</string>
                <key>offset</key>
                <string>{-8,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,70},{59,43}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_34</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{61,43}}</string>
                <key>offset</key>
                <string>{-8,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,70},{61,43}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_35</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{61,19}}</string>
                <key>offset</key>
                <string>{-8,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,94},{61,19}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_36</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{61,19}}</string>
                <key>offset</key>
                <string>{-8,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,94},{61,19}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_37</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{61,19}}</string>
                <key>offset</key>
                <string>{-8,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,94},{61,19}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_38</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{61,19}}</string>
                <key>offset</key>
                <string>{-8,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,94},{61,19}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_39</key>
            <dict>
                <key>frame</key>
                <string>{{680,65},{61,13}}</string>
                <key>offset</key>
                <string>{-8,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,100},{61,13}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_4</key>
            <dict>
                <key>frame</key>
                <string>{{695,65},{57,59}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{57,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_40</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{61,19}}</string>
                <key>offset</key>
                <string>{-8,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,94},{61,19}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_41</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{61,19}}</string>
                <key>offset</key>
                <string>{-8,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,94},{61,19}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_42</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{61,19}}</string>
                <key>offset</key>
                <string>{-8,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,94},{61,19}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_43</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{61,19}}</string>
                <key>offset</key>
                <string>{-8,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,94},{61,19}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_44</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{61,19}}</string>
                <key>offset</key>
                <string>{-8,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,94},{61,19}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_45</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{43,111}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{43,111}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_46</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{43,111}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{43,111}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_47</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{43,111}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{43,111}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_48</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{43,111}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{43,111}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_49</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{43,111}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{43,111}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_5</key>
            <dict>
                <key>frame</key>
                <string>{{695,65},{57,59}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{57,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_50</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{43,111}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{43,111}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_51</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{43,111}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{43,111}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_52</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{43,111}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{43,111}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_53</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{43,111}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{43,111}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_54</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{43,111}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{43,111}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_55</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{43,111}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{43,111}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_56</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{43,111}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{43,111}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_57</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{43,111}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{43,111}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_58</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{43,111}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{43,111}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_59</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{43,113}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{43,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_6</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{57,59}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{57,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_60</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{43,113}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{43,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_61</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{43,113}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{43,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_62</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{43,113}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{43,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_63</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,113}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{47,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_64</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,113}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{47,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_65</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{43,113}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{43,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_66</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{43,113}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{43,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_67</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,113}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{47,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_68</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,113}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{47,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_69</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{43,113}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{43,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_7</key>
            <dict>
                <key>frame</key>
                <string>{{695,65},{57,59}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{57,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_70</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{43,113}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{43,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_71</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,113}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{47,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_72</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,113}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{47,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_73</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{43,113}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{43,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_74</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{43,113}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{43,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_75</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,113}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{47,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_76</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,113}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{47,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_77</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{43,113}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{43,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_78</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{43,113}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{43,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_79</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{43,113}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{43,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_8</key>
            <dict>
                <key>frame</key>
                <string>{{695,65},{57,59}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{57,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_80</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{43,111}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{43,111}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_81</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{43,111}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{43,111}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>electrician0_9</key>
            <dict>
                <key>frame</key>
                <string>{{695,65},{57,59}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{57,59}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>electrician0.png</string>
            <key>size</key>
            <string>{1109,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:155b7d5a5371cbd22892fcd803d2108e:70f3079674f759d1971d94d329131e4f:e3ef6f3b6c6c05b372c2e79f106c7a7d$</string>
            <key>textureFileName</key>
            <string>electrician0.png</string>
        </dict>
    </dict>
</plist>
