<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elevator0_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,117}}</string>
                <key>sourceSize</key>
                <string>{91,117}</string>
            </dict>
            <key>elevator0_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{91,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,117}}</string>
                <key>sourceSize</key>
                <string>{91,117}</string>
            </dict>
            <key>elevator0_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{69,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,17}}</string>
                <key>sourceSize</key>
                <string>{69,17}</string>
            </dict>
            <key>elevator0_11</key>
            <dict>
                <key>frame</key>
                <string>{{21,281},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>elevator0_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{91,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,117}}</string>
                <key>sourceSize</key>
                <string>{91,117}</string>
            </dict>
            <key>elevator0_3</key>
            <dict>
                <key>frame</key>
                <string>{{21,319},{35,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{35,23}}</string>
                <key>sourceSize</key>
                <string>{41,31}</string>
            </dict>
            <key>elevator0_4</key>
            <dict>
                <key>frame</key>
                <string>{{46,319},{35,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{35,23}}</string>
                <key>sourceSize</key>
                <string>{41,31}</string>
            </dict>
            <key>elevator0_5</key>
            <dict>
                <key>frame</key>
                <string>{{55,281},{35,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{35,23}}</string>
                <key>sourceSize</key>
                <string>{41,31}</string>
            </dict>
            <key>elevator0_6</key>
            <dict>
                <key>frame</key>
                <string>{{80,281},{35,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{35,23}}</string>
                <key>sourceSize</key>
                <string>{41,31}</string>
            </dict>
            <key>elevator0_7</key>
            <dict>
                <key>frame</key>
                <string>{{80,306},{35,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{35,23}}</string>
                <key>sourceSize</key>
                <string>{41,31}</string>
            </dict>
            <key>elevator0_8</key>
            <dict>
                <key>frame</key>
                <string>{{71,331},{35,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{35,23}}</string>
                <key>sourceSize</key>
                <string>{41,31}</string>
            </dict>
            <key>elevator0_9</key>
            <dict>
                <key>frame</key>
                <string>{{96,331},{35,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{35,23}}</string>
                <key>sourceSize</key>
                <string>{41,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elevator0.png</string>
            <key>size</key>
            <string>{121,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd57914df5ca6e01c725df4d513fbf02:a573fef1155ccdb4a556addb99a67654:cf3e1978ad29fe930c216af01f1a6ba2$</string>
            <key>textureFileName</key>
            <string>elevator0.png</string>
        </dict>
    </dict>
</plist>
