<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>filesFall0_0</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{27,34}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>filesFall0_1</key>
            <dict>
                <key>frame</key>
                <string>{{461,31},{27,34}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{27,34}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>filesFall0_10</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{39,36}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{39,36}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>filesFall0_11</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{37,36}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,13},{37,36}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>filesFall0_12</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{47,30}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{47,30}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>filesFall0_13</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,32}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{55,32}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>filesFall0_14</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{57,30}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{57,30}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>filesFall0_15</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{57,30}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{57,30}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>filesFall0_2</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{29,36}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{29,36}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>filesFall0_3</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{29,36}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{29,36}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>filesFall0_4</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{29,36}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{29,36}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>filesFall0_5</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{29,36}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{29,36}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>filesFall0_6</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{31,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{31,36}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>filesFall0_7</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{29,36}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{29,36}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>filesFall0_8</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{33,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{33,36}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>filesFall0_9</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{33,36}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{33,36}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>filesFall0.png</string>
            <key>size</key>
            <string>{497,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39c6785692a9df851086216c1356d571:64b4d9c653cacf6747d36ee65edb3ff1:0af3f398fa1203d40122245d1c647d97$</string>
            <key>textureFileName</key>
            <string>filesFall0.png</string>
        </dict>
    </dict>
</plist>
