<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>file4_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
            <key>file4_1</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{26,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>file4.png</string>
            <key>size</key>
            <string>{60,20}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b5db084113709f44e63f09a978c3598:7cd3b4ed7c3c3f51e2b52d378359ed3c:67b6f1c200a996cf6922e9f5053d5f53$</string>
            <key>textureFileName</key>
            <string>file4.png</string>
        </dict>
    </dict>
</plist>
