<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>file1_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,15}}</string>
                <key>sourceSize</key>
                <string>{28,15}</string>
            </dict>
            <key>file1_1</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{26,15}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,15}}</string>
                <key>sourceSize</key>
                <string>{28,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>file1.png</string>
            <key>size</key>
            <string>{60,19}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1a51b68d34547bbcfded9aa0166b414:c8506a04f773378eb55ad51a1b379f0c:44ca64244ee8baf4a2765380435a4734$</string>
            <key>textureFileName</key>
            <string>file1.png</string>
        </dict>
    </dict>
</plist>
