<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fxCold0_0</key>
            <dict>
                <key>frame</key>
                <string>{{246,99},{1,1}}</string>
                <key>offset</key>
                <string>{-47,42.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_1</key>
            <dict>
                <key>frame</key>
                <string>{{196,390},{95,18}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,68},{95,18}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{95,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,84}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,86}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_12</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{95,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,84}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_13</key>
            <dict>
                <key>frame</key>
                <string>{{99,88},{95,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,84}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_14</key>
            <dict>
                <key>frame</key>
                <string>{{99,174},{95,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{95,82}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_15</key>
            <dict>
                <key>frame</key>
                <string>{{99,258},{95,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{95,80}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_16</key>
            <dict>
                <key>frame</key>
                <string>{{99,340},{95,74}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{95,74}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_17</key>
            <dict>
                <key>frame</key>
                <string>{{99,340},{95,74}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{95,74}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_18</key>
            <dict>
                <key>frame</key>
                <string>{{99,340},{95,74}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{95,74}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_19</key>
            <dict>
                <key>frame</key>
                <string>{{99,340},{95,74}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{95,74}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_2</key>
            <dict>
                <key>frame</key>
                <string>{{196,293},{95,30}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{95,30}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_20</key>
            <dict>
                <key>frame</key>
                <string>{{99,340},{95,74}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{95,74}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_21</key>
            <dict>
                <key>frame</key>
                <string>{{99,340},{95,74}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{95,74}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_22</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{95,52}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{95,52}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_23</key>
            <dict>
                <key>frame</key>
                <string>{{196,196},{95,38}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{95,38}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_24</key>
            <dict>
                <key>frame</key>
                <string>{{216,390},{95,18}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,68},{95,18}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_3</key>
            <dict>
                <key>frame</key>
                <string>{{196,99},{95,48}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{95,48}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{95,64}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{95,64}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_5</key>
            <dict>
                <key>frame</key>
                <string>{{99,340},{95,74}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{95,74}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_6</key>
            <dict>
                <key>frame</key>
                <string>{{99,416},{95,74}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{95,74}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{95,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{95,80}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{95,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{95,82}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>fxCold0_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{95,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,84}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fxCold0.png</string>
            <key>size</key>
            <string>{250,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e5ecebf41f47def0475d5a1bd3002f1:f968b97dfac2475d9f615acadd64c0bb:4ad5e933edefd117e916e6bbdb60ac36$</string>
            <key>textureFileName</key>
            <string>fxCold0.png</string>
        </dict>
    </dict>
</plist>
