<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fxCoin0_0</key>
            <dict>
                <key>frame</key>
                <string>{{74,450},{28,25}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,36},{28,25}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>fxCoin0_1</key>
            <dict>
                <key>frame</key>
                <string>{{68,519},{34,33}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,33},{34,33}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>fxCoin0_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{98,93}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{98,93}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>fxCoin0_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{106,99}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>fxCoin0_12</key>
            <dict>
                <key>frame</key>
                <string>{{96,205},{1,1}}</string>
                <key>offset</key>
                <string>{-55.5,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>fxCoin0_2</key>
            <dict>
                <key>frame</key>
                <string>{{60,582},{42,41}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,29},{42,41}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>fxCoin0_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{48,47}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,26},{48,47}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>fxCoin0_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{56,55}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{56,55}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>fxCoin0_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{64,61}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{64,61}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>fxCoin0_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{70,67}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{70,67}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>fxCoin0_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{78,73}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{78,73}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>fxCoin0_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{84,81}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{84,81}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>fxCoin0_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{92,85}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{92,85}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fxCoin0.png</string>
            <key>size</key>
            <string>{103,688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0228b1fb3852fff74d62e1d859337db8:a8b1b69732ca8cb023245eb017e5ba7d:9b9aca1f8926ed5446a2e997203ceffb$</string>
            <key>textureFileName</key>
            <string>fxCoin0.png</string>
        </dict>
    </dict>
</plist>
