<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fxHit0_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{83,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{83,74}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>fxHit0_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>fxHit0_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{71,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{71,66}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fxHit0.png</string>
            <key>size</key>
            <string>{87,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6fca1b4a470610cd0295775d8a64527:0e5b5f0d532dde57b66e1d78049cae0d:c5fa8b66767086f65450f61ed5f30997$</string>
            <key>textureFileName</key>
            <string>fxHit0.png</string>
        </dict>
    </dict>
</plist>
