<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fxSweat_0</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{33,21}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>fxSweat_1</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{45,23}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{45,23}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>fxSweat_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,25}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{55,25}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>fxSweat_3</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{61,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{61,23}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>fxSweat_4</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{63,23}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{63,23}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>fxSweat_5</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{47,21}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{47,21}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>fxSweat_6</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{5,9}}</string>
                <key>offset</key>
                <string>{-27,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{5,9}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fxSweat.png</string>
            <key>size</key>
            <string>{325,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cf9dc9e6f4b61407d2c47dba0cd3638:7f2ecdabf1734c001a73169ae08bcf6f:09da551da36aa762955d4fd63fd5f944$</string>
            <key>textureFileName</key>
            <string>fxSweat.png</string>
        </dict>
    </dict>
</plist>
