<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>janitor0_0</key>
            <dict>
                <key>frame</key>
                <string>{{615,2},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_1</key>
            <dict>
                <key>frame</key>
                <string>{{615,2},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_10</key>
            <dict>
                <key>frame</key>
                <string>{{628,71},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_11</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_12</key>
            <dict>
                <key>frame</key>
                <string>{{697,71},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_13</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_14</key>
            <dict>
                <key>frame</key>
                <string>{{766,71},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_15</key>
            <dict>
                <key>frame</key>
                <string>{{783,2},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_16</key>
            <dict>
                <key>frame</key>
                <string>{{835,71},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_17</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_18</key>
            <dict>
                <key>frame</key>
                <string>{{895,2},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_19</key>
            <dict>
                <key>frame</key>
                <string>{{1063,2},{59,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{59,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_2</key>
            <dict>
                <key>frame</key>
                <string>{{615,2},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_20</key>
            <dict>
                <key>frame</key>
                <string>{{1113,63},{59,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{59,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_21</key>
            <dict>
                <key>frame</key>
                <string>{{1119,2},{59,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{59,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_22</key>
            <dict>
                <key>frame</key>
                <string>{{1169,63},{59,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{59,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_23</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2},{63,54}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{63,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_24</key>
            <dict>
                <key>frame</key>
                <string>{{559,2},{69,54}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{69,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_25</key>
            <dict>
                <key>frame</key>
                <string>{{231,50},{77,54}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{77,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_26</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{85,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{85,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_27</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,54}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{89,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_28</key>
            <dict>
                <key>frame</key>
                <string>{{447,50},{73,54}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{73,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_29</key>
            <dict>
                <key>frame</key>
                <string>{{503,44},{73,54}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{73,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_3</key>
            <dict>
                <key>frame</key>
                <string>{{615,2},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_30</key>
            <dict>
                <key>frame</key>
                <string>{{148,68},{81,54}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{81,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_31</key>
            <dict>
                <key>frame</key>
                <string>{{1175,2},{57,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{57,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_32</key>
            <dict>
                <key>frame</key>
                <string>{{904,71},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_33</key>
            <dict>
                <key>frame</key>
                <string>{{559,73},{67,50}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{67,50}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_34</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{67,46}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{67,46}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_35</key>
            <dict>
                <key>frame</key>
                <string>{{366,50},{79,50}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{79,50}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_36</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{87,46}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{87,46}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_37</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{91,46}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{91,46}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_38</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{95,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{95,46}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_39</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{95,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{95,46}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_4</key>
            <dict>
                <key>frame</key>
                <string>{{615,2},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_40</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{95,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{95,46}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_41</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{95,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{95,46}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_42</key>
            <dict>
                <key>frame</key>
                <string>{{310,50},{75,54}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{75,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_43</key>
            <dict>
                <key>frame</key>
                <string>{{310,50},{75,54}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{75,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_44</key>
            <dict>
                <key>frame</key>
                <string>{{1042,67},{69,48}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{69,48}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_45</key>
            <dict>
                <key>frame</key>
                <string>{{1042,67},{69,48}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{69,48}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_46</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{69,40}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{69,40}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_47</key>
            <dict>
                <key>frame</key>
                <string>{{75,89},{71,36}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{71,36}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_48</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{71,16}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{71,16}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_49</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{71,16}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{71,16}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_5</key>
            <dict>
                <key>frame</key>
                <string>{{615,2},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_50</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{71,16}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{71,16}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_51</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{71,16}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{71,16}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_52</key>
            <dict>
                <key>frame</key>
                <string>{{114,50},{71,16}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{71,16}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_53</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{71,16}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{71,16}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_54</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{71,16}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{71,16}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_55</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{71,16}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{71,16}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_56</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{71,16}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{71,16}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_57</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{71,16}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{71,16}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_6</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_7</key>
            <dict>
                <key>frame</key>
                <string>{{973,71},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_8</key>
            <dict>
                <key>frame</key>
                <string>{{973,71},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>janitor0_9</key>
            <dict>
                <key>frame</key>
                <string>{{973,71},{67,54}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,54}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>janitor0.png</string>
            <key>size</key>
            <string>{1231,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75bb214057fb6595521e0a97f7f84e55:d87d8f1f05fcb13763b6be26c2778e5b:2adce0e33d1ab38ea5831c7f7c8cb69e$</string>
            <key>textureFileName</key>
            <string>janitor0.png</string>
        </dict>
    </dict>
</plist>
