<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelEmpty_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>levelEmpty_normal</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>levelEmpty_selected</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelEmpty.png</string>
            <key>size</key>
            <string>{125,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14191019e49044217147b0ebf470c259:7a09d243b1ba69c3350bcdcfb1f33528:0e2de7045b4955660a80a35d8fa0f0cd$</string>
            <key>textureFileName</key>
            <string>levelEmpty.png</string>
        </dict>
    </dict>
</plist>
