<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loadingWheel_0</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{47,41}}</string>
                <key>offset</key>
                <string>{23,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,32},{47,41}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_1</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{47,41}}</string>
                <key>offset</key>
                <string>{23,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,32},{47,41}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,1179},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{131,131}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,1179},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{131,131}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{131,131}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_13</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{131,131}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,1445},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{131,131}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_15</key>
            <dict>
                <key>frame</key>
                <string>{{2,1445},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{131,131}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_16</key>
            <dict>
                <key>frame</key>
                <string>{{2,1445},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{131,131}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_17</key>
            <dict>
                <key>frame</key>
                <string>{{2,1445},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{131,131}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_18</key>
            <dict>
                <key>frame</key>
                <string>{{2,1445},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{131,131}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_19</key>
            <dict>
                <key>frame</key>
                <string>{{2,1578},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{127,127}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_2</key>
            <dict>
                <key>frame</key>
                <string>{{171,634},{67,67}}</string>
                <key>offset</key>
                <string>{32,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,31},{67,67}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_20</key>
            <dict>
                <key>frame</key>
                <string>{{131,1578},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{121,121}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_21</key>
            <dict>
                <key>frame</key>
                <string>{{135,1179},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{117,117}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_22</key>
            <dict>
                <key>frame</key>
                <string>{{2,1707},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{127,127}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_23</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{137,137}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_24</key>
            <dict>
                <key>frame</key>
                <string>{{2,891},{147,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{147,147}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_25</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{157,157}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_26</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{167,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{167,165}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_27</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{177,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{177,177}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_28</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{185,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{185,185}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_29</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,195}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_3</key>
            <dict>
                <key>frame</key>
                <string>{{171,634},{67,67}}</string>
                <key>offset</key>
                <string>{32,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,31},{67,67}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_30</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,195}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_31</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,195}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_32</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,195}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_33</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,195}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_4</key>
            <dict>
                <key>frame</key>
                <string>{{181,519},{67,113}}</string>
                <key>offset</key>
                <string>{32,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,31},{67,113}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_5</key>
            <dict>
                <key>frame</key>
                <string>{{181,519},{67,113}}</string>
                <key>offset</key>
                <string>{32,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,31},{67,113}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_6</key>
            <dict>
                <key>frame</key>
                <string>{{181,386},{67,131}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,32},{67,131}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_7</key>
            <dict>
                <key>frame</key>
                <string>{{181,386},{67,131}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,32},{67,131}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_8</key>
            <dict>
                <key>frame</key>
                <string>{{135,1298},{113,131}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,32},{113,131}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>loadingWheel_9</key>
            <dict>
                <key>frame</key>
                <string>{{135,1298},{113,131}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,32},{113,131}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loadingWheel.png</string>
            <key>size</key>
            <string>{254,1836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a32f24a571694b2e95f08d6e30fcecb8:bf4f9d83470d3ea6118b745119510039:1e38da5ef10a8b0af9ba8b09e6f4a92a$</string>
            <key>textureFileName</key>
            <string>loadingWheel.png</string>
        </dict>
    </dict>
</plist>
