<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pause_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>pause_normal</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>pause_selected</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pause.png</string>
            <key>size</key>
            <string>{125,43}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1c3a4126e77c5af6a4b32325dee47fc:ca5165106170b8fad6b3c8587e4cb912:9d555fb46495a0909062f51d92a17153$</string>
            <key>textureFileName</key>
            <string>pause.png</string>
        </dict>
    </dict>
</plist>
