<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>powerUp4_0</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2},{112,70}}</string>
                <key>offset</key>
                <string>{-17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{112,70}}</string>
                <key>sourceSize</key>
                <string>{180,92}</string>
            </dict>
            <key>powerUp4_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,92}}</string>
                <key>sourceSize</key>
                <string>{180,92}</string>
            </dict>
            <key>powerUp4_2</key>
            <dict>
                <key>frame</key>
                <string>{{1354,2},{174,82}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{174,82}}</string>
                <key>sourceSize</key>
                <string>{180,92}</string>
            </dict>
            <key>powerUp4_3</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{180,82}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,82}}</string>
                <key>sourceSize</key>
                <string>{180,92}</string>
            </dict>
            <key>powerUp4_4</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{180,82}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,82}}</string>
                <key>sourceSize</key>
                <string>{180,92}</string>
            </dict>
            <key>powerUp4_5</key>
            <dict>
                <key>frame</key>
                <string>{{1354,2},{174,82}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{174,82}}</string>
                <key>sourceSize</key>
                <string>{180,92}</string>
            </dict>
            <key>powerUp4_6</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,92}}</string>
                <key>sourceSize</key>
                <string>{180,92}</string>
            </dict>
            <key>powerUp4_7</key>
            <dict>
                <key>frame</key>
                <string>{{1176,2},{176,82}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{176,82}}</string>
                <key>sourceSize</key>
                <string>{180,92}</string>
            </dict>
            <key>powerUp4_8</key>
            <dict>
                <key>frame</key>
                <string>{{1354,2},{174,82}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{174,82}}</string>
                <key>sourceSize</key>
                <string>{180,92}</string>
            </dict>
            <key>powerUp4_9</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{180,82}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,82}}</string>
                <key>sourceSize</key>
                <string>{180,92}</string>
            </dict>
            <key>powerUp4_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>powerUp4_normal</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>powerUp4_selected</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>powerUp4.png</string>
            <key>size</key>
            <string>{1644,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e42814245d0aaef8d3cd9247d84bd3b:26729ac0eae830c3e879244be5de9581:dbadfa5d323aa223e8b9a535fe979b35$</string>
            <key>textureFileName</key>
            <string>powerUp4.png</string>
        </dict>
    </dict>
</plist>
