<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>powerUp1_0</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{62,89}}</string>
                <key>offset</key>
                <string>{1,163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{62,89}}</string>
                <key>sourceSize</key>
                <string>{86,415}</string>
            </dict>
            <key>powerUp1_1</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{62,89}}</string>
                <key>offset</key>
                <string>{1,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,36},{62,89}}</string>
                <key>sourceSize</key>
                <string>{86,415}</string>
            </dict>
            <key>powerUp1_2</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{62,89}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,145},{62,89}}</string>
                <key>sourceSize</key>
                <string>{86,415}</string>
            </dict>
            <key>powerUp1_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,89}}</string>
                <key>offset</key>
                <string>{1,-163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,326},{80,89}}</string>
                <key>sourceSize</key>
                <string>{86,415}</string>
            </dict>
            <key>powerUp1_4</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{86,81}}</string>
                <key>offset</key>
                <string>{0,-167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,334},{86,81}}</string>
                <key>sourceSize</key>
                <string>{86,415}</string>
            </dict>
            <key>powerUp1_5</key>
            <dict>
                <key>frame</key>
                <string>{{771,2},{80,83}}</string>
                <key>offset</key>
                <string>{-3,-166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,332},{80,83}}</string>
                <key>sourceSize</key>
                <string>{86,415}</string>
            </dict>
            <key>powerUp1_6</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{82,85}}</string>
                <key>offset</key>
                <string>{-2,-165}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,330},{82,85}}</string>
                <key>sourceSize</key>
                <string>{86,415}</string>
            </dict>
            <key>powerUp1_7</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{62,89}}</string>
                <key>offset</key>
                <string>{1,-163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,326},{62,89}}</string>
                <key>sourceSize</key>
                <string>{86,415}</string>
            </dict>
            <key>powerUp1_8</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{62,89}}</string>
                <key>offset</key>
                <string>{1,-163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,326},{62,89}}</string>
                <key>sourceSize</key>
                <string>{86,415}</string>
            </dict>
            <key>powerUp1_9</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{62,89}}</string>
                <key>offset</key>
                <string>{1,-163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,326},{62,89}}</string>
                <key>sourceSize</key>
                <string>{86,415}</string>
            </dict>
            <key>powerUp1_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>powerUp1_normal</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>powerUp1_selected</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>powerUp1.png</string>
            <key>size</key>
            <string>{853,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a553fc8d7e15454e477270e6346cf46e:9d011a9185255a2df00049e200864dad:e91635d6e19ecf3c497ce85597709d31$</string>
            <key>textureFileName</key>
            <string>powerUp1.png</string>
        </dict>
    </dict>
</plist>
