<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>powerUp2_0</key>
            <dict>
                <key>frame</key>
                <string>{{368,122},{102,100}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{102,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_1</key>
            <dict>
                <key>frame</key>
                <string>{{1698,114},{104,106}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{104,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_10</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{116,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_11</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{118,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_13</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_14</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_15</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_16</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{118,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_17</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{116,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_18</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{114,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{114,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_19</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2},{112,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_2</key>
            <dict>
                <key>frame</key>
                <string>{{1092,118},{106,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{106,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_20</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_21</key>
            <dict>
                <key>frame</key>
                <string>{{1832,2},{108,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{108,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_22</key>
            <dict>
                <key>frame</key>
                <string>{{1466,114},{108,118}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{108,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_23</key>
            <dict>
                <key>frame</key>
                <string>{{1342,116},{106,114}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{106,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_24</key>
            <dict>
                <key>frame</key>
                <string>{{978,118},{106,112}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{106,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_25</key>
            <dict>
                <key>frame</key>
                <string>{{1586,114},{106,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{106,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_26</key>
            <dict>
                <key>frame</key>
                <string>{{612,120},{104,106}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{104,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_27</key>
            <dict>
                <key>frame</key>
                <string>{{720,120},{104,104}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{104,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_28</key>
            <dict>
                <key>frame</key>
                <string>{{1806,122},{104,102}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{104,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_29</key>
            <dict>
                <key>frame</key>
                <string>{{368,122},{102,100}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{102,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_3</key>
            <dict>
                <key>frame</key>
                <string>{{1342,116},{106,114}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{106,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_30</key>
            <dict>
                <key>frame</key>
                <string>{{368,122},{102,100}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{102,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_31</key>
            <dict>
                <key>frame</key>
                <string>{{90,124},{54,68}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,32},{54,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_32</key>
            <dict>
                <key>frame</key>
                <string>{{160,124},{60,66}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,32},{60,66}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_33</key>
            <dict>
                <key>frame</key>
                <string>{{560,122},{64,48}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,31},{64,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_34</key>
            <dict>
                <key>frame</key>
                <string>{{228,124},{50,58}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,31},{50,58}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_35</key>
            <dict>
                <key>frame</key>
                <string>{{228,176},{46,52}}</string>
                <key>offset</key>
                <string>{22,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,45},{46,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_36</key>
            <dict>
                <key>frame</key>
                <string>{{282,182},{38,42}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,50},{38,42}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_37</key>
            <dict>
                <key>frame</key>
                <string>{{560,188},{46,34}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,47},{46,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_38</key>
            <dict>
                <key>frame</key>
                <string>{{1912,122},{24,28}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,53},{24,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_39</key>
            <dict>
                <key>frame</key>
                <string>{{1912,152},{20,22}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,53},{20,22}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_4</key>
            <dict>
                <key>frame</key>
                <string>{{1222,116},{108,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{108,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_40</key>
            <dict>
                <key>frame</key>
                <string>{{1912,152},{20,22}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,53},{20,22}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_41</key>
            <dict>
                <key>frame</key>
                <string>{{1912,152},{20,22}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,53},{20,22}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_42</key>
            <dict>
                <key>frame</key>
                <string>{{90,180},{44,46}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,46},{44,46}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_43</key>
            <dict>
                <key>frame</key>
                <string>{{288,124},{56,54}}</string>
                <key>offset</key>
                <string>{16,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,43},{56,54}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_44</key>
            <dict>
                <key>frame</key>
                <string>{{914,120},{56,68}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,34},{56,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_45</key>
            <dict>
                <key>frame</key>
                <string>{{1458,116},{1,1}}</string>
                <key>offset</key>
                <string>{-59.5,59.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_5</key>
            <dict>
                <key>frame</key>
                <string>{{1588,2},{110,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_6</key>
            <dict>
                <key>frame</key>
                <string>{{1710,2},{110,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_7</key>
            <dict>
                <key>frame</key>
                <string>{{1344,2},{112,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{112,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_8</key>
            <dict>
                <key>frame</key>
                <string>{{1100,2},{114,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{114,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_9</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{116,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>powerUp2_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{472,122},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>powerUp2_normal</key>
            <dict>
                <key>frame</key>
                <string>{{826,120},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>powerUp2_selected</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>powerUp2.png</string>
            <key>size</key>
            <string>{1942,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44efc0ef3ce57f65775b4c50a9334c3f:a0f53c988ebae20a2ef9c466788bde0f:07a974faf60b605a17734f3988f83f07$</string>
            <key>textureFileName</key>
            <string>powerUp2.png</string>
        </dict>
    </dict>
</plist>
