<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>powerUp0_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{52,52}}</string>
                <key>offset</key>
                <string>{2,183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{68,418}</string>
            </dict>
            <key>powerUp0_1</key>
            <dict>
                <key>frame</key>
                <string>{{56,502},{52,52}}</string>
                <key>offset</key>
                <string>{2,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{52,52}}</string>
                <key>sourceSize</key>
                <string>{68,418}</string>
            </dict>
            <key>powerUp0_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{52,52}}</string>
                <key>offset</key>
                <string>{2,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,366},{52,52}}</string>
                <key>sourceSize</key>
                <string>{68,418}</string>
            </dict>
            <key>powerUp0_11</key>
            <dict>
                <key>frame</key>
                <string>{{56,556},{52,52}}</string>
                <key>offset</key>
                <string>{0,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,366},{52,52}}</string>
                <key>sourceSize</key>
                <string>{68,418}</string>
            </dict>
            <key>powerUp0_12</key>
            <dict>
                <key>frame</key>
                <string>{{60,448},{54,52}}</string>
                <key>offset</key>
                <string>{1,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,366},{54,52}}</string>
                <key>sourceSize</key>
                <string>{68,418}</string>
            </dict>
            <key>powerUp0_13</key>
            <dict>
                <key>frame</key>
                <string>{{66,388},{58,52}}</string>
                <key>offset</key>
                <string>{1,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,366},{58,52}}</string>
                <key>sourceSize</key>
                <string>{68,418}</string>
            </dict>
            <key>powerUp0_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{62,52}}</string>
                <key>offset</key>
                <string>{-3,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,366},{62,52}}</string>
                <key>sourceSize</key>
                <string>{68,418}</string>
            </dict>
            <key>powerUp0_15</key>
            <dict>
                <key>frame</key>
                <string>{{66,326},{60,52}}</string>
                <key>offset</key>
                <string>{-4,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,366},{60,52}}</string>
                <key>sourceSize</key>
                <string>{68,418}</string>
            </dict>
            <key>powerUp0_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{52,52}}</string>
                <key>offset</key>
                <string>{2,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,91},{52,52}}</string>
                <key>sourceSize</key>
                <string>{68,418}</string>
            </dict>
            <key>powerUp0_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{52,52}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,206},{52,52}}</string>
                <key>sourceSize</key>
                <string>{68,418}</string>
            </dict>
            <key>powerUp0_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{56,52}}</string>
                <key>offset</key>
                <string>{3,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,366},{56,52}}</string>
                <key>sourceSize</key>
                <string>{68,418}</string>
            </dict>
            <key>powerUp0_5</key>
            <dict>
                <key>frame</key>
                <string>{{68,266},{58,48}}</string>
                <key>offset</key>
                <string>{3,-185}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,370},{58,48}}</string>
                <key>sourceSize</key>
                <string>{68,418}</string>
            </dict>
            <key>powerUp0_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{62,46}}</string>
                <key>offset</key>
                <string>{3,-186}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,372},{62,46}}</string>
                <key>sourceSize</key>
                <string>{68,418}</string>
            </dict>
            <key>powerUp0_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{64,52}}</string>
                <key>offset</key>
                <string>{2,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,366},{64,52}}</string>
                <key>sourceSize</key>
                <string>{68,418}</string>
            </dict>
            <key>powerUp0_8</key>
            <dict>
                <key>frame</key>
                <string>{{56,610},{52,52}}</string>
                <key>offset</key>
                <string>{2,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,366},{52,52}}</string>
                <key>sourceSize</key>
                <string>{68,418}</string>
            </dict>
            <key>powerUp0_9</key>
            <dict>
                <key>frame</key>
                <string>{{56,610},{52,52}}</string>
                <key>offset</key>
                <string>{2,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,366},{52,52}}</string>
                <key>sourceSize</key>
                <string>{68,418}</string>
            </dict>
            <key>powerUp0_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>powerUp0_normal</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>powerUp0_selected</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>powerUp0.png</string>
            <key>size</key>
            <string>{120,692}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca974dc57cc64c5ae5537ea51ff10763:3d8bdbb79a6261b29f31f8a7c2b4212e:7fd7f7d3cf2cdfe9a58c4607e6a4c4f8$</string>
            <key>textureFileName</key>
            <string>powerUp0.png</string>
        </dict>
    </dict>
</plist>
