<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot2_0</key>
            <dict>
                <key>frame</key>
                <string>{{55,493},{66,45}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,43},{66,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_1</key>
            <dict>
                <key>frame</key>
                <string>{{49,634},{64,45}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{64,45}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_11</key>
            <dict>
                <key>frame</key>
                <string>{{49,681},{64,45}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{64,45}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_13</key>
            <dict>
                <key>frame</key>
                <string>{{49,681},{64,45}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{64,45}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_15</key>
            <dict>
                <key>frame</key>
                <string>{{49,728},{64,45}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_16</key>
            <dict>
                <key>frame</key>
                <string>{{49,775},{64,45}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_17</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{64,45}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_18</key>
            <dict>
                <key>frame</key>
                <string>{{49,822},{64,45}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_19</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{64,45}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_2</key>
            <dict>
                <key>frame</key>
                <string>{{55,540},{66,45}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,43},{66,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_20</key>
            <dict>
                <key>frame</key>
                <string>{{49,869},{64,45}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_21</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{64,45}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_22</key>
            <dict>
                <key>frame</key>
                <string>{{55,540},{66,45}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,43},{66,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_23</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{66,45}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,43},{66,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_24</key>
            <dict>
                <key>frame</key>
                <string>{{49,587},{66,45}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,43},{66,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_25</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{118,99}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_26</key>
            <dict>
                <key>frame</key>
                <string>{{49,963},{36,35}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,56},{36,35}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_27</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{78,65}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,38},{78,65}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_28</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{78,65}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,38},{78,65}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_29</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{96,89}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{96,89}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{64,45}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_30</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{96,89}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{96,89}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_31</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{108,97}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{108,97}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_32</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{108,97}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{108,97}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_33</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{112,57}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{112,57}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_34</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{112,57}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{112,57}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_35</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{102,59}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{102,59}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_36</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{102,59}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{102,59}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_37</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{96,51}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,26},{96,51}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_38</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{96,51}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,26},{96,51}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_39</key>
            <dict>
                <key>frame</key>
                <string>{{82,413},{78,41}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,39},{78,41}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_4</key>
            <dict>
                <key>frame</key>
                <string>{{49,869},{64,45}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_40</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{1,1}}</string>
                <key>offset</key>
                <string>{-58.5,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_41</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{1,1}}</string>
                <key>offset</key>
                <string>{-58.5,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{64,45}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_6</key>
            <dict>
                <key>frame</key>
                <string>{{49,916},{64,45}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{64,45}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_8</key>
            <dict>
                <key>frame</key>
                <string>{{49,775},{64,45}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>robot2_9</key>
            <dict>
                <key>frame</key>
                <string>{{49,728},{64,45}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,43},{64,45}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>robot2.png</string>
            <key>size</key>
            <string>{125,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62c70d9075179dff8b3e27e1571e005a:bf9f562011fb90a76d0d63485189f65a:c8f5aec6c193ac24237fbdc446205618$</string>
            <key>textureFileName</key>
            <string>robot2.png</string>
        </dict>
    </dict>
</plist>
