<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>secretary21_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_10</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_11</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_12</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_13</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_14</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_15</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_16</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_17</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_18</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_19</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_20</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_21</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_22</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_23</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{47,56}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{47,56}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_24</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{47,50}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{47,50}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_25</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{47,50}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{47,50}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_26</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{47,50}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{47,50}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_27</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{47,50}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{47,50}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_28</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{45,50}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{45,50}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_29</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{41,48}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{41,48}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_30</key>
            <dict>
                <key>frame</key>
                <string>{{861,2},{55,38}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,20},{55,38}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_31</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{57,24}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{57,24}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_32</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{57,24}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{57,24}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_33</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_34</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_35</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_36</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_37</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_38</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_39</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_40</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_41</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_42</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_43</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_44</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_45</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_46</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_47</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_48</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_49</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_50</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_51</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{33,48}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{33,48}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_52</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{33,48}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{33,48}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_53</key>
            <dict>
                <key>frame</key>
                <string>{{1169,2},{31,44}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{31,44}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_54</key>
            <dict>
                <key>frame</key>
                <string>{{1169,2},{31,44}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{31,44}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_55</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{31,32}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{31,32}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_56</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{31,32}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{31,32}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_57</key>
            <dict>
                <key>frame</key>
                <string>{{1091,52},{33,8}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{33,8}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_58</key>
            <dict>
                <key>frame</key>
                <string>{{1091,52},{33,8}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{33,8}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_59</key>
            <dict>
                <key>frame</key>
                <string>{{1091,52},{33,8}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{33,8}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_6</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_60</key>
            <dict>
                <key>frame</key>
                <string>{{1091,52},{33,8}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{33,8}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_61</key>
            <dict>
                <key>frame</key>
                <string>{{1091,52},{33,8}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{33,8}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_62</key>
            <dict>
                <key>frame</key>
                <string>{{1091,52},{33,8}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{33,8}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_63</key>
            <dict>
                <key>frame</key>
                <string>{{1091,52},{33,8}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{33,8}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary21_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>secretary21.png</string>
            <key>size</key>
            <string>{1235,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d156389c868d570fc39edbaca8f89d2b:dc5c1d99ee001ba5b55d1d505fc65175:a70d990c5305c4c1534429b1af9fae12$</string>
            <key>textureFileName</key>
            <string>secretary21.png</string>
        </dict>
    </dict>
</plist>
