<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>secretary17_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_10</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_11</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_12</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_13</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_14</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_15</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_16</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_17</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_18</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_19</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_20</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_21</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_22</key>
            <dict>
                <key>frame</key>
                <string>{{769,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_23</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{46,55}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{46,55}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_24</key>
            <dict>
                <key>frame</key>
                <string>{{1113,2},{46,49}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{46,49}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_25</key>
            <dict>
                <key>frame</key>
                <string>{{1113,2},{46,49}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{46,49}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_26</key>
            <dict>
                <key>frame</key>
                <string>{{1113,2},{46,49}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{46,49}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_27</key>
            <dict>
                <key>frame</key>
                <string>{{1113,2},{46,49}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{46,49}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_28</key>
            <dict>
                <key>frame</key>
                <string>{{1198,2},{44,49}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{44,49}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_29</key>
            <dict>
                <key>frame</key>
                <string>{{1249,2},{40,47}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{40,47}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_30</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{50,37}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{50,37}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_31</key>
            <dict>
                <key>frame</key>
                <string>{{1433,2},{54,21}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{54,21}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_32</key>
            <dict>
                <key>frame</key>
                <string>{{1433,2},{54,21}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{54,21}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_33</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_34</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_35</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_36</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{46,53}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,53}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_37</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{46,53}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,53}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_38</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{46,53}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,53}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_39</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{46,53}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,53}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_40</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{46,53}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,53}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_41</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{46,53}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,53}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_42</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{46,53}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,53}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_43</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{46,53}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,53}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_44</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{46,53}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,53}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_45</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{46,53}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,53}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_46</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{46,53}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,53}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_47</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{46,53}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,53}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_48</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{46,53}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,53}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_49</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{46,53}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,53}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_50</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{46,53}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,53}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_51</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2},{34,49}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,8},{34,49}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_52</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2},{34,49}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,8},{34,49}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_53</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{32,45}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,12},{32,45}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_54</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{32,45}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,12},{32,45}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_55</key>
            <dict>
                <key>frame</key>
                <string>{{1401,2},{30,33}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{30,33}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_56</key>
            <dict>
                <key>frame</key>
                <string>{{1401,2},{30,33}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{30,33}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_57</key>
            <dict>
                <key>frame</key>
                <string>{{1350,38},{32,9}}</string>
                <key>offset</key>
                <string>{19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{32,9}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_58</key>
            <dict>
                <key>frame</key>
                <string>{{1350,38},{32,9}}</string>
                <key>offset</key>
                <string>{19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{32,9}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_59</key>
            <dict>
                <key>frame</key>
                <string>{{1350,38},{32,9}}</string>
                <key>offset</key>
                <string>{19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{32,9}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_6</key>
            <dict>
                <key>frame</key>
                <string>{{887,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_60</key>
            <dict>
                <key>frame</key>
                <string>{{1350,38},{32,9}}</string>
                <key>offset</key>
                <string>{19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{32,9}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_61</key>
            <dict>
                <key>frame</key>
                <string>{{1350,38},{32,9}}</string>
                <key>offset</key>
                <string>{19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{32,9}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_62</key>
            <dict>
                <key>frame</key>
                <string>{{1350,38},{32,9}}</string>
                <key>offset</key>
                <string>{19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{32,9}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_63</key>
            <dict>
                <key>frame</key>
                <string>{{1350,38},{32,9}}</string>
                <key>offset</key>
                <string>{19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{32,9}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>secretary17_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>secretary17.png</string>
            <key>size</key>
            <string>{1489,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8eff9e06f1381909d565754ae24624f:57bdc6d20f02e6ac6c727edf14909756:adabf17893ad618d23a75b6b6dd7d92e$</string>
            <key>textureFileName</key>
            <string>secretary17.png</string>
        </dict>
    </dict>
</plist>
