<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>secretary3_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_13</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_15</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_16</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_17</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_18</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_19</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_20</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_21</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_22</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_23</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{51,60}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{51,60}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_24</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{51,54}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{51,54}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_25</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{51,54}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{51,54}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_26</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{51,54}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{51,54}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_27</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{51,54}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{51,54}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_28</key>
            <dict>
                <key>frame</key>
                <string>{{2,1179},{47,54}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{47,54}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_29</key>
            <dict>
                <key>frame</key>
                <string>{{2,1235},{45,52}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{45,52}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_30</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{59,42}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,20},{59,42}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_31</key>
            <dict>
                <key>frame</key>
                <string>{{2,1524},{59,24}}</string>
                <key>offset</key>
                <string>{-9,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,38},{59,24}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_32</key>
            <dict>
                <key>frame</key>
                <string>{{2,1524},{59,24}}</string>
                <key>offset</key>
                <string>{-9,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,38},{59,24}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_33</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_34</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_35</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_36</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{45,52}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{45,52}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_37</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{45,52}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{45,52}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_38</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{45,52}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{45,52}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_39</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{45,52}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{45,52}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_40</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{45,52}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{45,52}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_41</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{45,52}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{45,52}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_42</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{45,52}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{45,52}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_43</key>
            <dict>
                <key>frame</key>
                <string>{{2,1343},{45,52}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{45,52}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_44</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{45,52}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{45,52}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_45</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{45,52}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{45,52}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_46</key>
            <dict>
                <key>frame</key>
                <string>{{2,1343},{45,52}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{45,52}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_47</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{45,52}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{45,52}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_48</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{45,52}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{45,52}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_49</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{45,52}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{45,52}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_50</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{45,52}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{45,52}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_51</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{33,48}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,14},{33,48}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_52</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{33,48}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,14},{33,48}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_53</key>
            <dict>
                <key>frame</key>
                <string>{{2,1397},{31,44}}</string>
                <key>offset</key>
                <string>{19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,18},{31,44}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_54</key>
            <dict>
                <key>frame</key>
                <string>{{2,1397},{31,44}}</string>
                <key>offset</key>
                <string>{19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,18},{31,44}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_55</key>
            <dict>
                <key>frame</key>
                <string>{{2,1491},{31,34}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,28},{31,34}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_56</key>
            <dict>
                <key>frame</key>
                <string>{{2,1491},{31,34}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,28},{31,34}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_57</key>
            <dict>
                <key>frame</key>
                <string>{{38,1491},{33,8}}</string>
                <key>offset</key>
                <string>{20,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,54},{33,8}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_58</key>
            <dict>
                <key>frame</key>
                <string>{{38,1491},{33,8}}</string>
                <key>offset</key>
                <string>{20,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,54},{33,8}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_59</key>
            <dict>
                <key>frame</key>
                <string>{{38,1491},{33,8}}</string>
                <key>offset</key>
                <string>{20,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,54},{33,8}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_60</key>
            <dict>
                <key>frame</key>
                <string>{{38,1491},{33,8}}</string>
                <key>offset</key>
                <string>{20,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,54},{33,8}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_61</key>
            <dict>
                <key>frame</key>
                <string>{{38,1491},{33,8}}</string>
                <key>offset</key>
                <string>{20,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,54},{33,8}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_62</key>
            <dict>
                <key>frame</key>
                <string>{{38,1491},{33,8}}</string>
                <key>offset</key>
                <string>{20,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,54},{33,8}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_63</key>
            <dict>
                <key>frame</key>
                <string>{{38,1491},{33,8}}</string>
                <key>offset</key>
                <string>{20,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,54},{33,8}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
            <key>secretary3_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,62}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{83,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>secretary3.png</string>
            <key>size</key>
            <string>{55,1585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4e498f314b3ee53fdef6b99450b7f90:b3e344c6af908f316046405a25af708b:b161a5f5f2f224a0469133a922e62a82$</string>
            <key>textureFileName</key>
            <string>secretary3.png</string>
        </dict>
    </dict>
</plist>
