<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>secretary25_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_10</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_11</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_12</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_13</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_14</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_15</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_16</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_17</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_18</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_19</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_20</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_21</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_22</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_23</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{47,56}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{47,56}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_24</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{47,50}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{47,50}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_25</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{47,50}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{47,50}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_26</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{47,50}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{47,50}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_27</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{47,50}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{47,50}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_28</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{45,50}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{45,50}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_29</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{41,48}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{41,48}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_30</key>
            <dict>
                <key>frame</key>
                <string>{{861,2},{55,38}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,20},{55,38}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_31</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{57,24}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{57,24}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_32</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{57,24}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{57,24}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_33</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_34</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_35</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_36</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_37</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_38</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_39</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_40</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_41</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_42</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_43</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_44</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_45</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_46</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_47</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_48</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_49</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_50</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{45,52}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_51</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{33,48}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{33,48}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_52</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{33,48}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{33,48}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_53</key>
            <dict>
                <key>frame</key>
                <string>{{1169,2},{31,44}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{31,44}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_54</key>
            <dict>
                <key>frame</key>
                <string>{{1169,2},{31,44}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{31,44}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_55</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{31,32}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{31,32}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_56</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{31,32}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{31,32}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_57</key>
            <dict>
                <key>frame</key>
                <string>{{1091,52},{33,8}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{33,8}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_58</key>
            <dict>
                <key>frame</key>
                <string>{{1091,52},{33,8}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{33,8}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_59</key>
            <dict>
                <key>frame</key>
                <string>{{1091,52},{33,8}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{33,8}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_6</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_60</key>
            <dict>
                <key>frame</key>
                <string>{{1091,52},{33,8}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{33,8}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_61</key>
            <dict>
                <key>frame</key>
                <string>{{1091,52},{33,8}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{33,8}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_62</key>
            <dict>
                <key>frame</key>
                <string>{{1091,52},{33,8}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{33,8}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_63</key>
            <dict>
                <key>frame</key>
                <string>{{1091,52},{33,8}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{33,8}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>secretary25_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,58}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>secretary25.png</string>
            <key>size</key>
            <string>{1235,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d32cda634b0f6405e29f2be74cb8dde:72c1e705983a2cf1d9035186ee9c7c7d:be242a4914652d7667b3d10a06e51b87$</string>
            <key>textureFileName</key>
            <string>secretary25.png</string>
        </dict>
    </dict>
</plist>
