<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>secretary16_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_10</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_11</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_12</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_13</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_14</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_15</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_16</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_17</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_18</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_19</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_20</key>
            <dict>
                <key>frame</key>
                <string>{{673,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_21</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_22</key>
            <dict>
                <key>frame</key>
                <string>{{795,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_23</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{47,57}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,2},{47,57}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_24</key>
            <dict>
                <key>frame</key>
                <string>{{1147,2},{47,51}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_25</key>
            <dict>
                <key>frame</key>
                <string>{{1147,2},{47,51}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_26</key>
            <dict>
                <key>frame</key>
                <string>{{1147,2},{47,51}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_27</key>
            <dict>
                <key>frame</key>
                <string>{{1147,2},{47,51}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_28</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{45,51}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{45,51}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_29</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{41,49}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{41,49}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_30</key>
            <dict>
                <key>frame</key>
                <string>{{1337,2},{53,37}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{53,37}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_31</key>
            <dict>
                <key>frame</key>
                <string>{{1476,2},{57,23}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{57,23}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_32</key>
            <dict>
                <key>frame</key>
                <string>{{1476,2},{57,23}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{57,23}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_33</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_34</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_35</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_36</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{47,53}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{47,53}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_37</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{47,53}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{47,53}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_38</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{47,53}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{47,53}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_39</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{47,53}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{47,53}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_40</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{47,53}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{47,53}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_41</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{47,53}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{47,53}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_42</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{47,53}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{47,53}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_43</key>
            <dict>
                <key>frame</key>
                <string>{{1092,2},{47,53}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{47,53}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_44</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{47,53}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{47,53}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_45</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{47,53}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{47,53}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_46</key>
            <dict>
                <key>frame</key>
                <string>{{1092,2},{47,53}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{47,53}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_47</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{47,53}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{47,53}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_48</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{47,53}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{47,53}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_49</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{47,53}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{47,53}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_50</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{47,53}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{47,53}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_51</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{33,49}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,10},{33,49}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_52</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{33,49}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,10},{33,49}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_53</key>
            <dict>
                <key>frame</key>
                <string>{{1253,2},{31,43}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,16},{31,43}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_54</key>
            <dict>
                <key>frame</key>
                <string>{{1253,2},{31,43}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,16},{31,43}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_55</key>
            <dict>
                <key>frame</key>
                <string>{{1443,2},{31,33}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,26},{31,33}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_56</key>
            <dict>
                <key>frame</key>
                <string>{{1443,2},{31,33}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,26},{31,33}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_57</key>
            <dict>
                <key>frame</key>
                <string>{{1392,37},{33,9}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_58</key>
            <dict>
                <key>frame</key>
                <string>{{1392,37},{33,9}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_59</key>
            <dict>
                <key>frame</key>
                <string>{{1392,37},{33,9}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_6</key>
            <dict>
                <key>frame</key>
                <string>{{917,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_60</key>
            <dict>
                <key>frame</key>
                <string>{{1392,37},{33,9}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_61</key>
            <dict>
                <key>frame</key>
                <string>{{1392,37},{33,9}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_62</key>
            <dict>
                <key>frame</key>
                <string>{{1392,37},{33,9}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_63</key>
            <dict>
                <key>frame</key>
                <string>{{1392,37},{33,9}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>secretary16_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>secretary16.png</string>
            <key>size</key>
            <string>{1535,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31ec00b7ff6434d2a2b1b635229da63f:20e1110952fc20fc70d52dd3d5ddfc1c:889fbe8080fd487978395d268d7869df$</string>
            <key>textureFileName</key>
            <string>secretary16.png</string>
        </dict>
    </dict>
</plist>
