<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>secretary2_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_10</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_11</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_12</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_13</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_14</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_15</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_16</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_17</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_18</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_19</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_20</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_21</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_22</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_23</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{48,54}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{48,54}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_24</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{48,48}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_25</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{48,48}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_26</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{48,48}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_27</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{48,48}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_28</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{44,48}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{44,48}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_29</key>
            <dict>
                <key>frame</key>
                <string>{{1108,2},{40,46}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{40,46}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_30</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{52,36}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{52,36}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_31</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{56,20}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{56,20}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_32</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{56,20}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{56,20}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_33</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_34</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_35</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_36</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_37</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_38</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_39</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_40</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_41</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_42</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_43</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_44</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_45</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_46</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_47</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_48</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_49</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_50</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_51</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{34,48}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{34,48}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_52</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{34,48}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{34,48}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_53</key>
            <dict>
                <key>frame</key>
                <string>{{1150,2},{32,44}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,12},{32,44}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_54</key>
            <dict>
                <key>frame</key>
                <string>{{1150,2},{32,44}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,12},{32,44}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_55</key>
            <dict>
                <key>frame</key>
                <string>{{1184,2},{30,32}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,24},{30,32}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_56</key>
            <dict>
                <key>frame</key>
                <string>{{1184,2},{30,32}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,24},{30,32}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_57</key>
            <dict>
                <key>frame</key>
                <string>{{1108,50},{34,8}}</string>
                <key>offset</key>
                <string>{18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_58</key>
            <dict>
                <key>frame</key>
                <string>{{1108,50},{34,8}}</string>
                <key>offset</key>
                <string>{18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_59</key>
            <dict>
                <key>frame</key>
                <string>{{1108,50},{34,8}}</string>
                <key>offset</key>
                <string>{18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_6</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_60</key>
            <dict>
                <key>frame</key>
                <string>{{1108,50},{34,8}}</string>
                <key>offset</key>
                <string>{18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_61</key>
            <dict>
                <key>frame</key>
                <string>{{1108,50},{34,8}}</string>
                <key>offset</key>
                <string>{18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_62</key>
            <dict>
                <key>frame</key>
                <string>{{1108,50},{34,8}}</string>
                <key>offset</key>
                <string>{18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_63</key>
            <dict>
                <key>frame</key>
                <string>{{1108,50},{34,8}}</string>
                <key>offset</key>
                <string>{18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>secretary2_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,56}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>secretary2.png</string>
            <key>size</key>
            <string>{1216,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91f4c7f460c3a1762041f26d44fb55e7:1bdff45a90cb73e77b472e1a35162749:e715852447c16cef1df70217db7e9647$</string>
            <key>textureFileName</key>
            <string>secretary2.png</string>
        </dict>
    </dict>
</plist>
