<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>secretary6_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_10</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_11</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_12</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_13</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_14</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_15</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_16</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_17</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_18</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_19</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_20</key>
            <dict>
                <key>frame</key>
                <string>{{673,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_21</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_22</key>
            <dict>
                <key>frame</key>
                <string>{{795,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_23</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{49,57}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{49,57}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_24</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{49,51}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{49,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_25</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{49,51}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{49,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_26</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{49,51}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{49,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_27</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{49,51}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{49,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_28</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{45,51}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{45,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_29</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{43,49}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{43,49}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_30</key>
            <dict>
                <key>frame</key>
                <string>{{1362,2},{55,39}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{55,39}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_31</key>
            <dict>
                <key>frame</key>
                <string>{{1452,2},{57,21}}</string>
                <key>offset</key>
                <string>{-9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,38},{57,21}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_32</key>
            <dict>
                <key>frame</key>
                <string>{{1452,2},{57,21}}</string>
                <key>offset</key>
                <string>{-9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,38},{57,21}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_33</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_34</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_35</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_36</key>
            <dict>
                <key>frame</key>
                <string>{{1223,2},{45,51}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{45,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_37</key>
            <dict>
                <key>frame</key>
                <string>{{1223,2},{45,51}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{45,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_38</key>
            <dict>
                <key>frame</key>
                <string>{{1223,2},{45,51}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{45,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_39</key>
            <dict>
                <key>frame</key>
                <string>{{1223,2},{45,51}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{45,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_40</key>
            <dict>
                <key>frame</key>
                <string>{{1223,2},{45,51}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{45,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_41</key>
            <dict>
                <key>frame</key>
                <string>{{1223,2},{45,51}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{45,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_42</key>
            <dict>
                <key>frame</key>
                <string>{{1223,2},{45,51}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{45,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_43</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{45,51}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{45,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_44</key>
            <dict>
                <key>frame</key>
                <string>{{1223,2},{45,51}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{45,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_45</key>
            <dict>
                <key>frame</key>
                <string>{{1223,2},{45,51}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{45,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_46</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{45,51}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{45,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_47</key>
            <dict>
                <key>frame</key>
                <string>{{1223,2},{45,51}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{45,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_48</key>
            <dict>
                <key>frame</key>
                <string>{{1223,2},{45,51}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{45,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_49</key>
            <dict>
                <key>frame</key>
                <string>{{1223,2},{45,51}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{45,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_50</key>
            <dict>
                <key>frame</key>
                <string>{{1223,2},{45,51}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{45,51}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_51</key>
            <dict>
                <key>frame</key>
                <string>{{1135,2},{33,49}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{33,49}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_52</key>
            <dict>
                <key>frame</key>
                <string>{{1135,2},{33,49}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{33,49}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_53</key>
            <dict>
                <key>frame</key>
                <string>{{1329,2},{31,43}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,16},{31,43}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_54</key>
            <dict>
                <key>frame</key>
                <string>{{1329,2},{31,43}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,16},{31,43}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_55</key>
            <dict>
                <key>frame</key>
                <string>{{1419,2},{31,33}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{31,33}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_56</key>
            <dict>
                <key>frame</key>
                <string>{{1419,2},{31,33}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{31,33}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_57</key>
            <dict>
                <key>frame</key>
                <string>{{1419,37},{33,9}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_58</key>
            <dict>
                <key>frame</key>
                <string>{{1419,37},{33,9}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_59</key>
            <dict>
                <key>frame</key>
                <string>{{1419,37},{33,9}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_6</key>
            <dict>
                <key>frame</key>
                <string>{{917,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_60</key>
            <dict>
                <key>frame</key>
                <string>{{1419,37},{33,9}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_61</key>
            <dict>
                <key>frame</key>
                <string>{{1419,37},{33,9}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_62</key>
            <dict>
                <key>frame</key>
                <string>{{1419,37},{33,9}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_63</key>
            <dict>
                <key>frame</key>
                <string>{{1419,37},{33,9}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>secretary6_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,59}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>secretary6.png</string>
            <key>size</key>
            <string>{1511,53}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:722c71d1471d004874d5b7b913622c79:233d0283a24e4eeaaebecf6357b758b0:4b2bd26a7adbf0d923ce461c2b848219$</string>
            <key>textureFileName</key>
            <string>secretary6.png</string>
        </dict>
    </dict>
</plist>
