<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>secretary11_0</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_1</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_10</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_11</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_12</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_13</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_14</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_15</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_16</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_17</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_18</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_19</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_2</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_20</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_21</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_22</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_23</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{47,52}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{47,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_24</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{47,46}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{47,46}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_25</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{47,46}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{47,46}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_26</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{47,46}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{47,46}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_27</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{47,46}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{47,46}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_28</key>
            <dict>
                <key>frame</key>
                <string>{{1040,2},{43,46}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{43,46}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_29</key>
            <dict>
                <key>frame</key>
                <string>{{1085,2},{39,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{39,44}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_3</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_30</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{51,36}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{51,36}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_31</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,20}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{55,20}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_32</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,20}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{55,20}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_33</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_34</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_35</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_36</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_37</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_38</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_39</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_4</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_40</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_41</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_42</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_43</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_44</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_45</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_46</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_47</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_48</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_49</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_5</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_50</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_51</key>
            <dict>
                <key>frame</key>
                <string>{{957,2},{33,48}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{33,48}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_52</key>
            <dict>
                <key>frame</key>
                <string>{{957,2},{33,48}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{33,48}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_53</key>
            <dict>
                <key>frame</key>
                <string>{{1126,2},{31,44}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{31,44}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_54</key>
            <dict>
                <key>frame</key>
                <string>{{1126,2},{31,44}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{31,44}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_55</key>
            <dict>
                <key>frame</key>
                <string>{{1159,2},{31,32}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,22},{31,32}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_56</key>
            <dict>
                <key>frame</key>
                <string>{{1159,2},{31,32}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,22},{31,32}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_57</key>
            <dict>
                <key>frame</key>
                <string>{{1085,48},{33,8}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,46},{33,8}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_58</key>
            <dict>
                <key>frame</key>
                <string>{{1085,48},{33,8}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,46},{33,8}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_59</key>
            <dict>
                <key>frame</key>
                <string>{{1085,48},{33,8}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,46},{33,8}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_6</key>
            <dict>
                <key>frame</key>
                <string>{{729,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_60</key>
            <dict>
                <key>frame</key>
                <string>{{1085,48},{33,8}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,46},{33,8}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_61</key>
            <dict>
                <key>frame</key>
                <string>{{1085,48},{33,8}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,46},{33,8}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_62</key>
            <dict>
                <key>frame</key>
                <string>{{1085,48},{33,8}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,46},{33,8}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_63</key>
            <dict>
                <key>frame</key>
                <string>{{1085,48},{33,8}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,46},{33,8}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_7</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_8</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary11_9</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{45,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>secretary11.png</string>
            <key>size</key>
            <string>{1192,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5dcd8c6b7db420ed0de7e094008872d:591df5aa6d74c2a230323a87d83dc412:03a64f5b10e070f126b6a2c608742978$</string>
            <key>textureFileName</key>
            <string>secretary11.png</string>
        </dict>
    </dict>
</plist>
