<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>secretary9_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_10</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_11</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_12</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_13</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_14</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_15</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_16</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_17</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_18</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_19</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_20</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_21</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_22</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_23</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{46,56}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_24</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{46,50}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{46,50}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_25</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{46,50}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{46,50}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_26</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{46,50}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{46,50}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_27</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{46,50}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{46,50}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_28</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2},{44,48}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{44,48}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_29</key>
            <dict>
                <key>frame</key>
                <string>{{1264,2},{40,48}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{40,48}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_30</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2},{52,36}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{52,36}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_31</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2},{54,20}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,38},{54,20}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_32</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2},{54,20}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,38},{54,20}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_33</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_34</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_35</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_36</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_37</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_38</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_39</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_40</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_41</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_42</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_43</key>
            <dict>
                <key>frame</key>
                <string>{{1074,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_44</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_45</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_46</key>
            <dict>
                <key>frame</key>
                <string>{{1074,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_47</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_48</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_49</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_50</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_51</key>
            <dict>
                <key>frame</key>
                <string>{{1368,2},{34,48}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,10},{34,48}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_52</key>
            <dict>
                <key>frame</key>
                <string>{{1368,2},{34,48}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,10},{34,48}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_53</key>
            <dict>
                <key>frame</key>
                <string>{{1230,2},{32,44}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{32,44}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_54</key>
            <dict>
                <key>frame</key>
                <string>{{1230,2},{32,44}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{32,44}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_55</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{30,34}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,24},{30,34}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_56</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{30,34}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,24},{30,34}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_57</key>
            <dict>
                <key>frame</key>
                <string>{{1314,40},{34,8}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_58</key>
            <dict>
                <key>frame</key>
                <string>{{1314,40},{34,8}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_59</key>
            <dict>
                <key>frame</key>
                <string>{{1314,40},{34,8}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_6</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_60</key>
            <dict>
                <key>frame</key>
                <string>{{1314,40},{34,8}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_61</key>
            <dict>
                <key>frame</key>
                <string>{{1314,40},{34,8}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_62</key>
            <dict>
                <key>frame</key>
                <string>{{1314,40},{34,8}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_63</key>
            <dict>
                <key>frame</key>
                <string>{{1314,40},{34,8}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary9_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>secretary9.png</string>
            <key>size</key>
            <string>{1506,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92e58969255760aaf06186c74ab638dc:21770d3544da827337de2664983cc578:fc6ab276c75fcb06483c6a290279e172$</string>
            <key>textureFileName</key>
            <string>secretary9.png</string>
        </dict>
    </dict>
</plist>
