<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>secretary12_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_10</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_11</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_12</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_13</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_14</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_15</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_16</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_17</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_18</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_19</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_20</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_21</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_22</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_23</key>
            <dict>
                <key>frame</key>
                <string>{{991,2},{45,52}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_24</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{47,46}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{47,46}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_25</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{47,46}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{47,46}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_26</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{47,46}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{47,46}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_27</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{47,46}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{47,46}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_28</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{43,46}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{43,46}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_29</key>
            <dict>
                <key>frame</key>
                <string>{{1153,2},{41,44}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{41,44}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_30</key>
            <dict>
                <key>frame</key>
                <string>{{1229,2},{51,36}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{51,36}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_31</key>
            <dict>
                <key>frame</key>
                <string>{{1365,2},{55,22}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{55,22}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_32</key>
            <dict>
                <key>frame</key>
                <string>{{1365,2},{55,22}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{55,22}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_33</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_34</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_35</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_36</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_37</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_38</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_39</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_40</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_41</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_42</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_43</key>
            <dict>
                <key>frame</key>
                <string>{{1099,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_44</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_45</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_46</key>
            <dict>
                <key>frame</key>
                <string>{{1099,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_47</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_48</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_49</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_50</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{45,52}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_51</key>
            <dict>
                <key>frame</key>
                <string>{{1315,2},{33,48}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,6},{33,48}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_52</key>
            <dict>
                <key>frame</key>
                <string>{{1315,2},{33,48}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,6},{33,48}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_53</key>
            <dict>
                <key>frame</key>
                <string>{{1196,2},{31,44}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{31,44}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_54</key>
            <dict>
                <key>frame</key>
                <string>{{1196,2},{31,44}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{31,44}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_55</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{31,34}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,20},{31,34}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_56</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{31,34}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,20},{31,34}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_57</key>
            <dict>
                <key>frame</key>
                <string>{{1229,40},{33,8}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,46},{33,8}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_58</key>
            <dict>
                <key>frame</key>
                <string>{{1229,40},{33,8}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,46},{33,8}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_59</key>
            <dict>
                <key>frame</key>
                <string>{{1229,40},{33,8}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,46},{33,8}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_6</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_60</key>
            <dict>
                <key>frame</key>
                <string>{{1229,40},{33,8}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,46},{33,8}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_61</key>
            <dict>
                <key>frame</key>
                <string>{{1229,40},{33,8}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,46},{33,8}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_62</key>
            <dict>
                <key>frame</key>
                <string>{{1229,40},{33,8}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,46},{33,8}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_63</key>
            <dict>
                <key>frame</key>
                <string>{{1229,40},{33,8}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,46},{33,8}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>secretary12_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>secretary12.png</string>
            <key>size</key>
            <string>{1422,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4dc171c66c69d29c9436775c08f351cc:32a76a073f0d2bcc609b377005ed6c9e:d6ceee0bd8af619d58f73cee65171dba$</string>
            <key>textureFileName</key>
            <string>secretary12.png</string>
        </dict>
    </dict>
</plist>
