<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>secretary14_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_10</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_11</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_12</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_13</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_14</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_15</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_16</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_17</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_18</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_19</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_20</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_21</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_22</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_23</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{45,57}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{45,57}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_24</key>
            <dict>
                <key>frame</key>
                <string>{{991,2},{47,51}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_25</key>
            <dict>
                <key>frame</key>
                <string>{{991,2},{47,51}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_26</key>
            <dict>
                <key>frame</key>
                <string>{{991,2},{47,51}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_27</key>
            <dict>
                <key>frame</key>
                <string>{{991,2},{47,51}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_28</key>
            <dict>
                <key>frame</key>
                <string>{{1040,2},{43,49}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{43,49}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_29</key>
            <dict>
                <key>frame</key>
                <string>{{1085,2},{41,49}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{41,49}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_30</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{55,39}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,20},{55,39}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_31</key>
            <dict>
                <key>frame</key>
                <string>{{833,2},{57,21}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,38},{57,21}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_32</key>
            <dict>
                <key>frame</key>
                <string>{{833,2},{57,21}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,38},{57,21}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_33</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_34</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_35</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_36</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{45,53}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_37</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{45,53}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_38</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{45,53}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_39</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{45,53}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_40</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{45,53}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_41</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{45,53}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_42</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{45,53}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_43</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{45,53}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_44</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{45,53}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_45</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{45,53}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_46</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{45,53}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_47</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{45,53}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_48</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{45,53}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_49</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{45,53}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_50</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{45,53}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_51</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{33,49}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,10},{33,49}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_52</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{33,49}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,10},{33,49}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_53</key>
            <dict>
                <key>frame</key>
                <string>{{1163,2},{31,43}}</string>
                <key>offset</key>
                <string>{19,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,16},{31,43}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_54</key>
            <dict>
                <key>frame</key>
                <string>{{1163,2},{31,43}}</string>
                <key>offset</key>
                <string>{19,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,16},{31,43}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_55</key>
            <dict>
                <key>frame</key>
                <string>{{1196,2},{29,33}}</string>
                <key>offset</key>
                <string>{20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{29,33}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_56</key>
            <dict>
                <key>frame</key>
                <string>{{1196,2},{29,33}}</string>
                <key>offset</key>
                <string>{20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{29,33}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_57</key>
            <dict>
                <key>frame</key>
                <string>{{1163,47},{33,9}}</string>
                <key>offset</key>
                <string>{20,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_58</key>
            <dict>
                <key>frame</key>
                <string>{{1163,47},{33,9}}</string>
                <key>offset</key>
                <string>{20,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_59</key>
            <dict>
                <key>frame</key>
                <string>{{1163,47},{33,9}}</string>
                <key>offset</key>
                <string>{20,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_6</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_60</key>
            <dict>
                <key>frame</key>
                <string>{{1163,47},{33,9}}</string>
                <key>offset</key>
                <string>{20,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_61</key>
            <dict>
                <key>frame</key>
                <string>{{1163,47},{33,9}}</string>
                <key>offset</key>
                <string>{20,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_62</key>
            <dict>
                <key>frame</key>
                <string>{{1163,47},{33,9}}</string>
                <key>offset</key>
                <string>{20,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_63</key>
            <dict>
                <key>frame</key>
                <string>{{1163,47},{33,9}}</string>
                <key>offset</key>
                <string>{20,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{33,9}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>secretary14_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,59}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>secretary14.png</string>
            <key>size</key>
            <string>{1227,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdad0ed455de1eea518291cc649b5cca:e3f2fa035bec08753ae8279906335ce1:1bab246e857f9a5557e67119d6add5b3$</string>
            <key>textureFileName</key>
            <string>secretary14.png</string>
        </dict>
    </dict>
</plist>
