<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>secretary19_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_10</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_11</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_12</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_13</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_14</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_15</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_16</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_17</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_18</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_19</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_20</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_21</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_22</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_23</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{46,54}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{46,54}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_24</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{46,48}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{46,48}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_25</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{46,48}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{46,48}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_26</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{46,48}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{46,48}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_27</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{46,48}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{46,48}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_28</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2},{44,46}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{44,46}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_29</key>
            <dict>
                <key>frame</key>
                <string>{{1240,2},{40,44}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{40,44}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_30</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{56,36}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{56,36}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_31</key>
            <dict>
                <key>frame</key>
                <string>{{1456,2},{56,20}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{56,20}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_32</key>
            <dict>
                <key>frame</key>
                <string>{{1456,2},{56,20}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{56,20}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_33</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_34</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_35</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_36</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_37</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_38</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_39</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_40</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_41</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_42</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_43</key>
            <dict>
                <key>frame</key>
                <string>{{1040,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_44</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_45</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_46</key>
            <dict>
                <key>frame</key>
                <string>{{1040,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_47</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_48</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_49</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_50</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{46,52}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_51</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{34,48}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,8},{34,48}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_52</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{34,48}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,8},{34,48}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_53</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{32,44}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,12},{32,44}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_54</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{32,44}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,12},{32,44}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_55</key>
            <dict>
                <key>frame</key>
                <string>{{1424,2},{30,32}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{30,32}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_56</key>
            <dict>
                <key>frame</key>
                <string>{{1424,2},{30,32}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{30,32}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_57</key>
            <dict>
                <key>frame</key>
                <string>{{1316,40},{32,8}}</string>
                <key>offset</key>
                <string>{19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{32,8}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_58</key>
            <dict>
                <key>frame</key>
                <string>{{1316,40},{32,8}}</string>
                <key>offset</key>
                <string>{19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{32,8}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_59</key>
            <dict>
                <key>frame</key>
                <string>{{1316,40},{32,8}}</string>
                <key>offset</key>
                <string>{19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{32,8}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_6</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_60</key>
            <dict>
                <key>frame</key>
                <string>{{1316,40},{32,8}}</string>
                <key>offset</key>
                <string>{19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{32,8}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_61</key>
            <dict>
                <key>frame</key>
                <string>{{1316,40},{32,8}}</string>
                <key>offset</key>
                <string>{19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{32,8}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_62</key>
            <dict>
                <key>frame</key>
                <string>{{1316,40},{32,8}}</string>
                <key>offset</key>
                <string>{19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{32,8}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_63</key>
            <dict>
                <key>frame</key>
                <string>{{1316,40},{32,8}}</string>
                <key>offset</key>
                <string>{19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{32,8}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>secretary19_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,56}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>secretary19.png</string>
            <key>size</key>
            <string>{1514,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9366d4349a2c76d19fc8c1a2d191bd19:2e0581a68deeebe355bbd834c07e5273:402d599035feaa5253a0c41828971c9c$</string>
            <key>textureFileName</key>
            <string>secretary19.png</string>
        </dict>
    </dict>
</plist>
