<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>secretary15_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_10</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_11</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_12</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_13</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_14</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_15</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_16</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_17</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_18</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_19</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_20</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_21</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_22</key>
            <dict>
                <key>frame</key>
                <string>{{769,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_23</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{45,55}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{45,55}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_24</key>
            <dict>
                <key>frame</key>
                <string>{{1201,2},{45,49}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{45,49}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_25</key>
            <dict>
                <key>frame</key>
                <string>{{1201,2},{45,49}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{45,49}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_26</key>
            <dict>
                <key>frame</key>
                <string>{{1201,2},{45,49}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{45,49}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_27</key>
            <dict>
                <key>frame</key>
                <string>{{1252,2},{45,49}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{45,49}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_28</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{43,47}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{43,47}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_29</key>
            <dict>
                <key>frame</key>
                <string>{{991,2},{41,47}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{41,47}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_30</key>
            <dict>
                <key>frame</key>
                <string>{{1336,2},{51,37}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{51,37}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_31</key>
            <dict>
                <key>frame</key>
                <string>{{1471,2},{55,23}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{55,23}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_32</key>
            <dict>
                <key>frame</key>
                <string>{{1471,2},{55,23}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{55,23}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_33</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_34</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_35</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_36</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{45,53}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_37</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{45,53}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_38</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{45,53}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_39</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{45,53}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_40</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{45,53}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_41</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{45,53}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_42</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{45,53}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_43</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{45,53}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_44</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{45,53}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_45</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{45,53}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_46</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{45,53}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_47</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{45,53}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_48</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{45,53}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_49</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{45,53}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_50</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{45,53}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{45,53}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_51</key>
            <dict>
                <key>frame</key>
                <string>{{1389,2},{33,49}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,8},{33,49}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_52</key>
            <dict>
                <key>frame</key>
                <string>{{1389,2},{33,49}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,8},{33,49}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_53</key>
            <dict>
                <key>frame</key>
                <string>{{1303,2},{31,45}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,12},{31,45}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_54</key>
            <dict>
                <key>frame</key>
                <string>{{1303,2},{31,45}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,12},{31,45}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_55</key>
            <dict>
                <key>frame</key>
                <string>{{1440,2},{29,33}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{29,33}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_56</key>
            <dict>
                <key>frame</key>
                <string>{{1440,2},{29,33}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{29,33}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_57</key>
            <dict>
                <key>frame</key>
                <string>{{1389,37},{33,9}}</string>
                <key>offset</key>
                <string>{17,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{33,9}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_58</key>
            <dict>
                <key>frame</key>
                <string>{{1389,37},{33,9}}</string>
                <key>offset</key>
                <string>{17,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{33,9}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_59</key>
            <dict>
                <key>frame</key>
                <string>{{1389,37},{33,9}}</string>
                <key>offset</key>
                <string>{17,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{33,9}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_6</key>
            <dict>
                <key>frame</key>
                <string>{{887,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_60</key>
            <dict>
                <key>frame</key>
                <string>{{1389,37},{33,9}}</string>
                <key>offset</key>
                <string>{17,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{33,9}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_61</key>
            <dict>
                <key>frame</key>
                <string>{{1389,37},{33,9}}</string>
                <key>offset</key>
                <string>{17,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{33,9}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_62</key>
            <dict>
                <key>frame</key>
                <string>{{1389,37},{33,9}}</string>
                <key>offset</key>
                <string>{17,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{33,9}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_63</key>
            <dict>
                <key>frame</key>
                <string>{{1389,37},{33,9}}</string>
                <key>offset</key>
                <string>{17,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{33,9}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>secretary15_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,57}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>secretary15.png</string>
            <key>size</key>
            <string>{1528,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be1bc34a642f7755571c1a8f705a3ac6:b5b0be82f2afca75cdd604518370bd3c:46c175108d1423eadd79929f77ff3f65$</string>
            <key>textureFileName</key>
            <string>secretary15.png</string>
        </dict>
    </dict>
</plist>
