<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>secretary13_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_10</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_11</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_12</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_13</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_14</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_15</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_16</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_17</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_18</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_19</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_20</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_21</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_22</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_23</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{46,56}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{46,56}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_24</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{46,50}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{46,50}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_25</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{46,50}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{46,50}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_26</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{46,50}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{46,50}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_27</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{46,50}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{46,50}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_28</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{42,48}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{42,48}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_29</key>
            <dict>
                <key>frame</key>
                <string>{{1264,2},{40,48}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{40,48}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_30</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2},{54,38}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{54,38}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_31</key>
            <dict>
                <key>frame</key>
                <string>{{1452,2},{56,20}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,38},{56,20}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_32</key>
            <dict>
                <key>frame</key>
                <string>{{1452,2},{56,20}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,38},{56,20}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_33</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_34</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_35</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_36</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_37</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_38</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_39</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_40</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_41</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_42</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_43</key>
            <dict>
                <key>frame</key>
                <string>{{1074,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_44</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_45</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_46</key>
            <dict>
                <key>frame</key>
                <string>{{1074,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_47</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_48</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_49</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_50</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{46,52}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{46,52}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_51</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{34,48}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,10},{34,48}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_52</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{34,48}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,10},{34,48}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_53</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2},{32,44}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{32,44}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_54</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2},{32,44}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{32,44}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_55</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{30,32}}</string>
                <key>offset</key>
                <string>{20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,26},{30,32}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_56</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{30,32}}</string>
                <key>offset</key>
                <string>{20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,26},{30,32}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_57</key>
            <dict>
                <key>frame</key>
                <string>{{1370,38},{34,8}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_58</key>
            <dict>
                <key>frame</key>
                <string>{{1370,38},{34,8}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_59</key>
            <dict>
                <key>frame</key>
                <string>{{1370,38},{34,8}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_6</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_60</key>
            <dict>
                <key>frame</key>
                <string>{{1370,38},{34,8}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_61</key>
            <dict>
                <key>frame</key>
                <string>{{1370,38},{34,8}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_62</key>
            <dict>
                <key>frame</key>
                <string>{{1370,38},{34,8}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_63</key>
            <dict>
                <key>frame</key>
                <string>{{1370,38},{34,8}}</string>
                <key>offset</key>
                <string>{19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{34,8}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>secretary13_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>secretary13.png</string>
            <key>size</key>
            <string>{1510,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82701750fb0445d9f7f5654d6b143ffe:7012888cc58d48d9f93ea89564e555a3:b97bfd7ef269096bbc86aa71eb8ad12d$</string>
            <key>textureFileName</key>
            <string>secretary13.png</string>
        </dict>
    </dict>
</plist>
