<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_music1</key>
            <dict>
                <key>frame</key>
                <string>{{91,26},{15,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,36}}</string>
                <key>sourceSize</key>
                <string>{15,36}</string>
            </dict>
            <key>icon_music2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,45}}</string>
                <key>sourceSize</key>
                <string>{55,45}</string>
            </dict>
            <key>icon_sound1</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>icon_sound2</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{40,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,49}}</string>
                <key>sourceSize</key>
                <string>{40,49}</string>
            </dict>
            <key>slider_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{108,26},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>slider_selected</key>
            <dict>
                <key>frame</key>
                <string>{{108,44},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>settingsUI.png</string>
            <key>size</key>
            <string>{126,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b89abfc4c252a320c31dac2d1db27023:0598b83ab7fd3848bb38a173366b9451:8299c7bff880596496e7504db570f4c5$</string>
            <key>textureFileName</key>
            <string>settingsUI.png</string>
        </dict>
    </dict>
</plist>
