<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>speakBubble_0</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{127,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,60}}</string>
			<key>sourceSize</key>
			<string>{127,60}</string>
		</dict>
		<key>speakBubble_1</key>
		<dict>
			<key>frame</key>
			<string>{{131,2},{127,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,60}}</string>
			<key>sourceSize</key>
			<string>{127,60}</string>
		</dict>
		<key>speakBubble_2</key>
		<dict>
			<key>frame</key>
			<string>{{260,2},{127,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,60}}</string>
			<key>sourceSize</key>
			<string>{127,60}</string>
		</dict>
		<key>speakBubble_3</key>
		<dict>
			<key>frame</key>
			<string>{{389,2},{127,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,60}}</string>
			<key>sourceSize</key>
			<string>{127,60}</string>
		</dict>
		<key>speakBubble_4</key>
		<dict>
			<key>frame</key>
			<string>{{518,2},{127,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,60}}</string>
			<key>sourceSize</key>
			<string>{127,60}</string>
		</dict>
		<key>speakBubble_5</key>
		<dict>
			<key>frame</key>
			<string>{{647,2},{127,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,60}}</string>
			<key>sourceSize</key>
			<string>{127,60}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>speakBubble.png</string>
		<key>size</key>
		<string>{782,64}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:06c1006d2781723d70d96ed06faa2926:dbfce9310b5a8e61fc3c5207bce57092:ff3190a544e51df92e60e46b65d6701d$</string>
		<key>textureFileName</key>
		<string>speakBubble.png</string>
	</dict>
</dict>
</plist>
