<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap18_0</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{50,50}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>trap18_1</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{76,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,50}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>trap18_10</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{50,50}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>trap18_11</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{50,50}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>trap18_12</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{50,50}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>trap18_2</key>
            <dict>
                <key>frame</key>
                <string>{{300,54},{50,50}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>trap18_3</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{50,50}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>trap18_4</key>
            <dict>
                <key>frame</key>
                <string>{{352,54},{50,50}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>trap18_5</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{50,50}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>trap18_6</key>
            <dict>
                <key>frame</key>
                <string>{{404,54},{50,50}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>trap18_7</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{50,50}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>trap18_8</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{50,50}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>trap18_9</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{50,50}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>trap18_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap18_normal</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap18_selected</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trap18.png</string>
            <key>size</key>
            <string>{456,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e00038a657bb93b263275529df07c797:cfefc64825d62cf5b098c412a80696d1:f7af97cc3cf134cd242490b3fd88169b$</string>
            <key>textureFileName</key>
            <string>trap18.png</string>
        </dict>
    </dict>
</plist>
