<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap5_0</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{69,40}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,40}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_1</key>
            <dict>
                <key>frame</key>
                <string>{{428,192},{69,42}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,42}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,144}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,144}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,144}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_13</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,144}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,144}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_15</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{69,138}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,138}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_16</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{69,132}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,132}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_17</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{69,124}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,124}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_18</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{69,118}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,118}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_19</key>
            <dict>
                <key>frame</key>
                <string>{{357,122},{69,112}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,112}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_2</key>
            <dict>
                <key>frame</key>
                <string>{{841,144},{69,46}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,46}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_20</key>
            <dict>
                <key>frame</key>
                <string>{{215,128},{69,106}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,106}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_21</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{69,100}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,100}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_22</key>
            <dict>
                <key>frame</key>
                <string>{{144,136},{69,96}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,96}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_23</key>
            <dict>
                <key>frame</key>
                <string>{{73,142},{69,90}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,90}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_24</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{69,86}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,86}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_25</key>
            <dict>
                <key>frame</key>
                <string>{{581,84},{69,80}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,80}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_26</key>
            <dict>
                <key>frame</key>
                <string>{{652,84},{69,76}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,76}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_27</key>
            <dict>
                <key>frame</key>
                <string>{{712,162},{69,72}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,72}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_28</key>
            <dict>
                <key>frame</key>
                <string>{{499,166},{69,68}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_29</key>
            <dict>
                <key>frame</key>
                <string>{{570,166},{69,64}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_3</key>
            <dict>
                <key>frame</key>
                <string>{{785,73},{69,52}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_30</key>
            <dict>
                <key>frame</key>
                <string>{{641,166},{69,62}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,62}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_31</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{69,58}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,58}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_32</key>
            <dict>
                <key>frame</key>
                <string>{{783,147},{69,56}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,56}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_33</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{69,52}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_34</key>
            <dict>
                <key>frame</key>
                <string>{{839,73},{69,50}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,50}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_35</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{69,48}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,48}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_36</key>
            <dict>
                <key>frame</key>
                <string>{{889,144},{69,46}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,46}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_37</key>
            <dict>
                <key>frame</key>
                <string>{{891,73},{69,44}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,44}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_38</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{69,42}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,42}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_39</key>
            <dict>
                <key>frame</key>
                <string>{{937,73},{69,42}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,42}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_4</key>
            <dict>
                <key>frame</key>
                <string>{{723,76},{69,60}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_40</key>
            <dict>
                <key>frame</key>
                <string>{{937,117},{69,40}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,40}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_41</key>
            <dict>
                <key>frame</key>
                <string>{{937,159},{69,40}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,40}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_5</key>
            <dict>
                <key>frame</key>
                <string>{{663,2},{69,72}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,72}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_6</key>
            <dict>
                <key>frame</key>
                <string>{{428,104},{69,86}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,86}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_7</key>
            <dict>
                <key>frame</key>
                <string>{{286,126},{69,104}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,104}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_8</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{69,122}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,122}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,144}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>trap5_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap5_normal</key>
            <dict>
                <key>frame</key>
                <string>{{499,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap5_selected</key>
            <dict>
                <key>frame</key>
                <string>{{581,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trap5.png</string>
            <key>size</key>
            <string>{1008,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3f07de5975e04550d94bdc73203bb2d:37aca30c98b74a853620b366b68bb356:7986544976dc7497343d6325cb503eb0$</string>
            <key>textureFileName</key>
            <string>trap5.png</string>
        </dict>
    </dict>
</plist>
