<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trapRemover_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{74,76}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{74,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{76,74}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{76,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,1728},{90,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,25},{90,48}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,1548},{88,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,23},{88,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,1368},{88,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{88,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_13</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{86,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{86,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{84,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_15</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{82,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{82,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_16</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{80,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{80,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_17</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{78,70}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{78,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_18</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{76,74}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{76,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_19</key>
            <dict>
                <key>frame</key>
                <string>{{2,1292},{74,76}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{74,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{78,70}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{78,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_20</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{70,78}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{70,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{80,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{80,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{82,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{82,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{84,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{86,60}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{86,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{86,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{86,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,1458},{88,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{88,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,1638},{88,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{88,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>trapRemover_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>trapRemover_normal</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>trapRemover_selected</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trapRemover.png</string>
            <key>size</key>
            <string>{90,1820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c808a0a93652dcf18e3859c693aa7708:571f22883bf5e544f9516febdc79ac22:549b5eadeabf786c7bc6140e78e3a235$</string>
            <key>textureFileName</key>
            <string>trapRemover.png</string>
        </dict>
    </dict>
</plist>
