<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap3_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,1611},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,1611},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,159}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_11</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,159}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{123,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,159}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_13</key>
            <dict>
                <key>frame</key>
                <string>{{127,163},{123,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,159}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{123,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,159}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_15</key>
            <dict>
                <key>frame</key>
                <string>{{127,324},{123,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,159}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_16</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{123,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,159}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_17</key>
            <dict>
                <key>frame</key>
                <string>{{127,485},{123,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,159}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_18</key>
            <dict>
                <key>frame</key>
                <string>{{127,485},{123,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,159}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_19</key>
            <dict>
                <key>frame</key>
                <string>{{127,485},{123,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,159}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_2</key>
            <dict>
                <key>frame</key>
                <string>{{127,1211},{79,53}}</string>
                <key>offset</key>
                <string>{-12,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,53}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_20</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{79,155}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,155}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_21</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{79,155}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,155}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_22</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{79,155}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,155}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_23</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_24</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_25</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_26</key>
            <dict>
                <key>frame</key>
                <string>{{2,1713},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_27</key>
            <dict>
                <key>frame</key>
                <string>{{2,1713},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_28</key>
            <dict>
                <key>frame</key>
                <string>{{83,1290},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_29</key>
            <dict>
                <key>frame</key>
                <string>{{83,1290},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{123,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,159}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_30</key>
            <dict>
                <key>frame</key>
                <string>{{83,1290},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_31</key>
            <dict>
                <key>frame</key>
                <string>{{134,1266},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_32</key>
            <dict>
                <key>frame</key>
                <string>{{134,1266},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_33</key>
            <dict>
                <key>frame</key>
                <string>{{134,1266},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_34</key>
            <dict>
                <key>frame</key>
                <string>{{185,1266},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_35</key>
            <dict>
                <key>frame</key>
                <string>{{185,1266},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_36</key>
            <dict>
                <key>frame</key>
                <string>{{185,1266},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_37</key>
            <dict>
                <key>frame</key>
                <string>{{134,1347},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_38</key>
            <dict>
                <key>frame</key>
                <string>{{134,1347},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_39</key>
            <dict>
                <key>frame</key>
                <string>{{83,1611},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_4</key>
            <dict>
                <key>frame</key>
                <string>{{127,646},{123,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,159}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_40</key>
            <dict>
                <key>frame</key>
                <string>{{83,1611},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_41</key>
            <dict>
                <key>frame</key>
                <string>{{83,1692},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_42</key>
            <dict>
                <key>frame</key>
                <string>{{83,1692},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_43</key>
            <dict>
                <key>frame</key>
                <string>{{134,1398},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_44</key>
            <dict>
                <key>frame</key>
                <string>{{134,1398},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_45</key>
            <dict>
                <key>frame</key>
                <string>{{84,1449},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_46</key>
            <dict>
                <key>frame</key>
                <string>{{84,1449},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_47</key>
            <dict>
                <key>frame</key>
                <string>{{84,1500},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_48</key>
            <dict>
                <key>frame</key>
                <string>{{84,1500},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_49</key>
            <dict>
                <key>frame</key>
                <string>{{84,1551},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{123,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,159}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_50</key>
            <dict>
                <key>frame</key>
                <string>{{84,1551},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_51</key>
            <dict>
                <key>frame</key>
                <string>{{165,1449},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_52</key>
            <dict>
                <key>frame</key>
                <string>{{165,1449},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_53</key>
            <dict>
                <key>frame</key>
                <string>{{165,1530},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_54</key>
            <dict>
                <key>frame</key>
                <string>{{165,1530},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_55</key>
            <dict>
                <key>frame</key>
                <string>{{134,1611},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_56</key>
            <dict>
                <key>frame</key>
                <string>{{134,1611},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_57</key>
            <dict>
                <key>frame</key>
                <string>{{185,1611},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_58</key>
            <dict>
                <key>frame</key>
                <string>{{185,1611},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_59</key>
            <dict>
                <key>frame</key>
                <string>{{2,1611},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_6</key>
            <dict>
                <key>frame</key>
                <string>{{127,807},{123,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,159}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_60</key>
            <dict>
                <key>frame</key>
                <string>{{2,1611},{79,49}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{123,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,159}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_8</key>
            <dict>
                <key>frame</key>
                <string>{{127,968},{123,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,159}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,1129},{123,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,159}}</string>
                <key>sourceSize</key>
                <string>{123,159}</string>
            </dict>
            <key>trap3_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{127,1129},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap3_normal</key>
            <dict>
                <key>frame</key>
                <string>{{2,1447},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap3_selected</key>
            <dict>
                <key>frame</key>
                <string>{{2,1529},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trap3.png</string>
            <key>size</key>
            <string>{252,1764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d91fef81711caa548be5a09d1a72d01:25574510668dceea207a55482b42db9c:cf30035fb1337d2abf9f8635cbb3e91a$</string>
            <key>textureFileName</key>
            <string>trap3.png</string>
        </dict>
    </dict>
</plist>
