<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap16_0</key>
            <dict>
                <key>frame</key>
                <string>{{903,84},{91,42}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,88},{91,42}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_1</key>
            <dict>
                <key>frame</key>
                <string>{{903,84},{91,42}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,88},{91,42}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_10</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{121,110}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_11</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{133,120}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{133,120}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_12</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{133,120}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{133,120}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_13</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{139,70}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{139,70}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_14</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{139,70}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{139,70}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_15</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{129,74}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{129,74}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_16</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{129,74}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{129,74}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_17</key>
            <dict>
                <key>frame</key>
                <string>{{681,2},{121,64}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{121,64}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_18</key>
            <dict>
                <key>frame</key>
                <string>{{681,2},{121,64}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{121,64}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_19</key>
            <dict>
                <key>frame</key>
                <string>{{409,74},{97,52}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,48},{97,52}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_2</key>
            <dict>
                <key>frame</key>
                <string>{{996,84},{91,42}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,88},{91,42}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_20</key>
            <dict>
                <key>frame</key>
                <string>{{286,114},{1,1}}</string>
                <key>offset</key>
                <string>{-73,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_3</key>
            <dict>
                <key>frame</key>
                <string>{{996,84},{91,42}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,88},{91,42}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_4</key>
            <dict>
                <key>frame</key>
                <string>{{681,68},{91,56}}</string>
                <key>offset</key>
                <string>{-6,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,74},{91,56}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,122}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{147,122}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_6</key>
            <dict>
                <key>frame</key>
                <string>{{508,78},{45,44}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,70},{45,44}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_7</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{97,82}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,47},{97,82}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_8</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{97,82}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,47},{97,82}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_9</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{121,110}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>trap16_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{903,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap16_normal</key>
            <dict>
                <key>frame</key>
                <string>{{985,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap16_selected</key>
            <dict>
                <key>frame</key>
                <string>{{1067,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trap16.png</string>
            <key>size</key>
            <string>{1149,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:000e8e0ab9240c0894480c320a05ed89:06d4d2f357e18a629ca95cac3e673b2a:8d3cb6e5d07ed6fd2b38316cb1c72af5$</string>
            <key>textureFileName</key>
            <string>trap16.png</string>
        </dict>
    </dict>
</plist>
