<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap14_0</key>
            <dict>
                <key>frame</key>
                <string>{{97,1343},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_1</key>
            <dict>
                <key>frame</key>
                <string>{{97,1343},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,155}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_11</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{93,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,155}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{93,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,155}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_13</key>
            <dict>
                <key>frame</key>
                <string>{{97,159},{93,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,155}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{93,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,155}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_15</key>
            <dict>
                <key>frame</key>
                <string>{{97,316},{93,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,155}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_16</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{93,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,155}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_17</key>
            <dict>
                <key>frame</key>
                <string>{{97,473},{93,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,155}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_18</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{93,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,155}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_19</key>
            <dict>
                <key>frame</key>
                <string>{{97,630},{93,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,155}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_2</key>
            <dict>
                <key>frame</key>
                <string>{{97,1390},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_20</key>
            <dict>
                <key>frame</key>
                <string>{{97,1095},{93,143}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,143}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_21</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{93,101}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,101}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_22</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{93,101}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,101}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_23</key>
            <dict>
                <key>frame</key>
                <string>{{2,1656},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_24</key>
            <dict>
                <key>frame</key>
                <string>{{2,1656},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_25</key>
            <dict>
                <key>frame</key>
                <string>{{2,1656},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_26</key>
            <dict>
                <key>frame</key>
                <string>{{2,1751},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_27</key>
            <dict>
                <key>frame</key>
                <string>{{2,1751},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_28</key>
            <dict>
                <key>frame</key>
                <string>{{49,1656},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_29</key>
            <dict>
                <key>frame</key>
                <string>{{49,1656},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,1333},{93,75}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,75}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_30</key>
            <dict>
                <key>frame</key>
                <string>{{49,1656},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_31</key>
            <dict>
                <key>frame</key>
                <string>{{49,1751},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_32</key>
            <dict>
                <key>frame</key>
                <string>{{49,1751},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_33</key>
            <dict>
                <key>frame</key>
                <string>{{49,1751},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_34</key>
            <dict>
                <key>frame</key>
                <string>{{2,1846},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_35</key>
            <dict>
                <key>frame</key>
                <string>{{2,1846},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_36</key>
            <dict>
                <key>frame</key>
                <string>{{2,1846},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_37</key>
            <dict>
                <key>frame</key>
                <string>{{97,1437},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_38</key>
            <dict>
                <key>frame</key>
                <string>{{97,1437},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_39</key>
            <dict>
                <key>frame</key>
                <string>{{97,1484},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_4</key>
            <dict>
                <key>frame</key>
                <string>{{97,1240},{93,101}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,101}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_40</key>
            <dict>
                <key>frame</key>
                <string>{{97,1484},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_41</key>
            <dict>
                <key>frame</key>
                <string>{{97,1531},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_42</key>
            <dict>
                <key>frame</key>
                <string>{{97,1531},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_43</key>
            <dict>
                <key>frame</key>
                <string>{{97,1578},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_44</key>
            <dict>
                <key>frame</key>
                <string>{{97,1578},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_45</key>
            <dict>
                <key>frame</key>
                <string>{{97,1625},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_46</key>
            <dict>
                <key>frame</key>
                <string>{{97,1625},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_47</key>
            <dict>
                <key>frame</key>
                <string>{{97,1672},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_48</key>
            <dict>
                <key>frame</key>
                <string>{{97,1672},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_49</key>
            <dict>
                <key>frame</key>
                <string>{{97,1719},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,1101},{93,127}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,127}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_50</key>
            <dict>
                <key>frame</key>
                <string>{{97,1719},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_51</key>
            <dict>
                <key>frame</key>
                <string>{{97,1766},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_52</key>
            <dict>
                <key>frame</key>
                <string>{{97,1766},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_53</key>
            <dict>
                <key>frame</key>
                <string>{{97,1813},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_54</key>
            <dict>
                <key>frame</key>
                <string>{{97,1813},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_55</key>
            <dict>
                <key>frame</key>
                <string>{{97,1860},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_56</key>
            <dict>
                <key>frame</key>
                <string>{{97,1860},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_57</key>
            <dict>
                <key>frame</key>
                <string>{{97,1390},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_58</key>
            <dict>
                <key>frame</key>
                <string>{{97,1390},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_59</key>
            <dict>
                <key>frame</key>
                <string>{{97,1343},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_6</key>
            <dict>
                <key>frame</key>
                <string>{{97,944},{93,149}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,149}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_60</key>
            <dict>
                <key>frame</key>
                <string>{{97,1343},{93,45}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{93,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,155}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_8</key>
            <dict>
                <key>frame</key>
                <string>{{97,787},{93,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,155}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{93,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,155}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>trap14_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap14_normal</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap14_selected</key>
            <dict>
                <key>frame</key>
                <string>{{2,1574},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trap14.png</string>
            <key>size</key>
            <string>{192,1907}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb8169141598fddbea9788cc0baaed89:9afa493fec23ab2c52043e4f50fbd068:89b5f404d800396ee88d3552fb7d8c3e$</string>
            <key>textureFileName</key>
            <string>trap14.png</string>
        </dict>
    </dict>
</plist>
