<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap0_0</key>
            <dict>
                <key>frame</key>
                <string>{{189,636},{61,64}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,118},{61,64}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_1</key>
            <dict>
                <key>frame</key>
                <string>{{189,699},{61,64}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,118},{61,64}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_10</key>
            <dict>
                <key>frame</key>
                <string>{{189,699},{61,64}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,118},{61,64}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_11</key>
            <dict>
                <key>frame</key>
                <string>{{189,762},{61,64}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,118},{61,64}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_12</key>
            <dict>
                <key>frame</key>
                <string>{{189,762},{61,64}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,118},{61,64}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_13</key>
            <dict>
                <key>frame</key>
                <string>{{189,762},{61,64}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,118},{61,64}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_14</key>
            <dict>
                <key>frame</key>
                <string>{{189,762},{61,64}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,118},{61,64}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_15</key>
            <dict>
                <key>frame</key>
                <string>{{189,762},{61,64}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,118},{61,64}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_16</key>
            <dict>
                <key>frame</key>
                <string>{{189,762},{61,64}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,118},{61,64}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_17</key>
            <dict>
                <key>frame</key>
                <string>{{2,1690},{111,104}}</string>
                <key>offset</key>
                <string>{-1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,78},{111,104}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_18</key>
            <dict>
                <key>frame</key>
                <string>{{2,1484},{149,124}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,58},{149,124}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_19</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{185,142}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,40},{185,142}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_2</key>
            <dict>
                <key>frame</key>
                <string>{{189,699},{61,64}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,118},{61,64}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_20</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{223,160}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{223,160}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_21</key>
            <dict>
                <key>frame</key>
                <string>{{186,825},{47,46}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,120},{47,46}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_22</key>
            <dict>
                <key>frame</key>
                <string>{{153,1524},{87,82}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,100},{87,82}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_23</key>
            <dict>
                <key>frame</key>
                <string>{{115,1690},{129,102}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,80},{129,102}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_24</key>
            <dict>
                <key>frame</key>
                <string>{{2,1360},{169,122}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,60},{169,122}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_25</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{209,142}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{209,142}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_26</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,162}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{249,162}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_27</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{289,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,182}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_28</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{247,162}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{247,162}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_29</key>
            <dict>
                <key>frame</key>
                <string>{{2,1071},{287,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{287,182}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_3</key>
            <dict>
                <key>frame</key>
                <string>{{189,636},{61,64}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,118},{61,64}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_4</key>
            <dict>
                <key>frame</key>
                <string>{{189,636},{61,64}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,118},{61,64}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_5</key>
            <dict>
                <key>frame</key>
                <string>{{189,699},{61,64}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,118},{61,64}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_6</key>
            <dict>
                <key>frame</key>
                <string>{{189,699},{61,64}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,118},{61,64}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_7</key>
            <dict>
                <key>frame</key>
                <string>{{189,636},{61,64}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,118},{61,64}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_8</key>
            <dict>
                <key>frame</key>
                <string>{{189,636},{61,64}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,118},{61,64}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_9</key>
            <dict>
                <key>frame</key>
                <string>{{189,699},{61,64}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,118},{61,64}}</string>
                <key>sourceSize</key>
                <string>{289,182}</string>
            </dict>
            <key>trap0_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{173,1360},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap0_normal</key>
            <dict>
                <key>frame</key>
                <string>{{173,1442},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap0_selected</key>
            <dict>
                <key>frame</key>
                <string>{{153,1608},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trap0.png</string>
            <key>size</key>
            <string>{255,1796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c55c7c5c30f16b4bd3204f7814d012ed:13f4f34cef4b4642d77fec43eb0900c0:c05593de2f8761e3499d559b1b4102b5$</string>
            <key>textureFileName</key>
            <string>trap0.png</string>
        </dict>
    </dict>
</plist>
