<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap8_0</key>
            <dict>
                <key>frame</key>
                <string>{{159,112},{87,51}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_1</key>
            <dict>
                <key>frame</key>
                <string>{{159,112},{87,51}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,155}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,155}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{81,155}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,155}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{81,155}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,155}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_13</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{81,155}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,155}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_14</key>
            <dict>
                <key>frame</key>
                <string>{{151,377},{81,95}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,95}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_15</key>
            <dict>
                <key>frame</key>
                <string>{{91,674},{81,53}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,53}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_16</key>
            <dict>
                <key>frame</key>
                <string>{{91,674},{81,53}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,53}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_17</key>
            <dict>
                <key>frame</key>
                <string>{{91,674},{81,53}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,53}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_18</key>
            <dict>
                <key>frame</key>
                <string>{{91,674},{81,53}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,53}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_19</key>
            <dict>
                <key>frame</key>
                <string>{{91,417},{81,55}}</string>
                <key>offset</key>
                <string>{-3,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,55}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_2</key>
            <dict>
                <key>frame</key>
                <string>{{159,112},{87,51}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_20</key>
            <dict>
                <key>frame</key>
                <string>{{91,417},{81,55}}</string>
                <key>offset</key>
                <string>{-3,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,55}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_21</key>
            <dict>
                <key>frame</key>
                <string>{{2,743},{81,53}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,53}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_22</key>
            <dict>
                <key>frame</key>
                <string>{{2,743},{81,53}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,53}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_23</key>
            <dict>
                <key>frame</key>
                <string>{{146,755},{81,53}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,53}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_24</key>
            <dict>
                <key>frame</key>
                <string>{{146,755},{81,53}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,53}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_25</key>
            <dict>
                <key>frame</key>
                <string>{{91,500},{85,53}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,53}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_26</key>
            <dict>
                <key>frame</key>
                <string>{{91,500},{85,53}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,53}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_27</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{87,53}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,53}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_28</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{87,53}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,53}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_29</key>
            <dict>
                <key>frame</key>
                <string>{{159,165},{87,51}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_3</key>
            <dict>
                <key>frame</key>
                <string>{{159,57},{87,53}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,53}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_30</key>
            <dict>
                <key>frame</key>
                <string>{{159,165},{87,51}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_31</key>
            <dict>
                <key>frame</key>
                <string>{{159,218},{87,51}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_32</key>
            <dict>
                <key>frame</key>
                <string>{{159,271},{87,51}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_33</key>
            <dict>
                <key>frame</key>
                <string>{{159,324},{87,51}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_34</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{87,51}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_35</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{87,51}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_36</key>
            <dict>
                <key>frame</key>
                <string>{{148,460},{87,51}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_37</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{87,51}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_38</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{87,51}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_39</key>
            <dict>
                <key>frame</key>
                <string>{{146,513},{87,51}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_4</key>
            <dict>
                <key>frame</key>
                <string>{{91,587},{85,53}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,53}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_40</key>
            <dict>
                <key>frame</key>
                <string>{{146,566},{87,51}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_41</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{87,51}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_42</key>
            <dict>
                <key>frame</key>
                <string>{{146,619},{87,51}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_43</key>
            <dict>
                <key>frame</key>
                <string>{{159,112},{87,51}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_44</key>
            <dict>
                <key>frame</key>
                <string>{{159,112},{87,51}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_5</key>
            <dict>
                <key>frame</key>
                <string>{{85,757},{81,53}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,53}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{81,53}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,53}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{81,59}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_8</key>
            <dict>
                <key>frame</key>
                <string>{{146,672},{81,83}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{81,147}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,147}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>trap8_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap8_normal</key>
            <dict>
                <key>frame</key>
                <string>{{84,853},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap8_selected</key>
            <dict>
                <key>frame</key>
                <string>{{166,810},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trap8.png</string>
            <key>size</key>
            <string>{248,935}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2ee21ce27f6e893143248959ea02a29:e0b7446d605c75e28c916d63c441eb97:a28eefd7f2aec67418cdd10e162d998d$</string>
            <key>textureFileName</key>
            <string>trap8.png</string>
        </dict>
    </dict>
</plist>
