<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap9_0</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{81,57}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_1</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{81,57}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{93,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,155}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_11</key>
            <dict>
                <key>frame</key>
                <string>{{159,809},{95,155}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,155}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{95,155}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,155}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_13</key>
            <dict>
                <key>frame</key>
                <string>{{159,966},{95,155}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,155}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,1029},{95,155}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,155}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_15</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{91,155}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{91,155}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_16</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{89,155}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{89,155}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_17</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{89,155}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{89,155}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_18</key>
            <dict>
                <key>frame</key>
                <string>{{154,347},{89,61}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{89,61}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_19</key>
            <dict>
                <key>frame</key>
                <string>{{154,347},{89,61}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{89,61}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_2</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{81,57}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_20</key>
            <dict>
                <key>frame</key>
                <string>{{154,347},{89,61}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{89,61}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_21</key>
            <dict>
                <key>frame</key>
                <string>{{154,347},{89,61}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{89,61}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_22</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,55}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{87,55}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_23</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,55}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{87,55}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_24</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{89,57}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{89,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_25</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{89,57}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{89,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_26</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{89,61}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{89,61}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_27</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{89,61}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{89,61}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_28</key>
            <dict>
                <key>frame</key>
                <string>{{93,410},{87,61}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{87,61}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_29</key>
            <dict>
                <key>frame</key>
                <string>{{93,410},{87,61}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{87,61}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_3</key>
            <dict>
                <key>frame</key>
                <string>{{168,286},{83,59}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{83,59}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_30</key>
            <dict>
                <key>frame</key>
                <string>{{93,295},{83,59}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{83,59}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_31</key>
            <dict>
                <key>frame</key>
                <string>{{93,295},{83,59}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{83,59}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_32</key>
            <dict>
                <key>frame</key>
                <string>{{93,59},{81,57}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_33</key>
            <dict>
                <key>frame</key>
                <string>{{93,59},{81,57}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_34</key>
            <dict>
                <key>frame</key>
                <string>{{176,85},{81,57}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_35</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{81,57}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_36</key>
            <dict>
                <key>frame</key>
                <string>{{85,118},{81,57}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_37</key>
            <dict>
                <key>frame</key>
                <string>{{168,168},{81,57}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_38</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{81,57}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_39</key>
            <dict>
                <key>frame</key>
                <string>{{85,177},{81,57}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{87,61}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{87,61}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_40</key>
            <dict>
                <key>frame</key>
                <string>{{168,227},{81,57}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_41</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{81,57}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_42</key>
            <dict>
                <key>frame</key>
                <string>{{85,236},{81,57}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_43</key>
            <dict>
                <key>frame</key>
                <string>{{85,236},{81,57}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_44</key>
            <dict>
                <key>frame</key>
                <string>{{85,236},{81,57}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_45</key>
            <dict>
                <key>frame</key>
                <string>{{85,236},{81,57}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_5</key>
            <dict>
                <key>frame</key>
                <string>{{182,410},{89,61}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{89,61}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{89,57}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{89,57}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_7</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{87,55}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{87,55}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_8</key>
            <dict>
                <key>frame</key>
                <string>{{159,583},{89,95}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{89,95}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_9</key>
            <dict>
                <key>frame</key>
                <string>{{159,674},{89,133}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{89,133}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>trap9_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{91,473},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap9_normal</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap9_selected</key>
            <dict>
                <key>frame</key>
                <string>{{173,501},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trap9.png</string>
            <key>size</key>
            <string>{256,1126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be88788155592c0f998a1b7087b2ebed:0ab300e88eaf11bfa7d1fecf9840d0fe:c148a4bae35d7cb1d298484ea530c738$</string>
            <key>textureFileName</key>
            <string>trap9.png</string>
        </dict>
    </dict>
</plist>
