<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap6_0</key>
            <dict>
                <key>frame</key>
                <string>{{215,462},{69,48}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,48}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_1</key>
            <dict>
                <key>frame</key>
                <string>{{286,462},{69,48}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,48}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,152}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,152}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,152}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_13</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,152}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,152}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_15</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{69,146}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_16</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{69,138}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,138}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_17</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{69,132}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,132}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_18</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{69,126}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,126}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_19</key>
            <dict>
                <key>frame</key>
                <string>{{73,274},{69,120}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,120}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_2</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{69,52}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_20</key>
            <dict>
                <key>frame</key>
                <string>{{73,396},{69,114}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,114}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_21</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{69,108}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,108}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_22</key>
            <dict>
                <key>frame</key>
                <string>{{144,244},{69,102}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,102}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_23</key>
            <dict>
                <key>frame</key>
                <string>{{215,112},{69,98}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,98}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_24</key>
            <dict>
                <key>frame</key>
                <string>{{144,348},{69,92}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,92}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_25</key>
            <dict>
                <key>frame</key>
                <string>{{215,212},{69,88}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,88}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_26</key>
            <dict>
                <key>frame</key>
                <string>{{286,98},{69,84}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,84}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_27</key>
            <dict>
                <key>frame</key>
                <string>{{215,302},{69,80}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,80}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_28</key>
            <dict>
                <key>frame</key>
                <string>{{215,384},{69,76}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,76}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_29</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{69,72}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,72}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_3</key>
            <dict>
                <key>frame</key>
                <string>{{357,316},{69,60}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_30</key>
            <dict>
                <key>frame</key>
                <string>{{144,442},{69,68}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_31</key>
            <dict>
                <key>frame</key>
                <string>{{357,248},{69,66}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,66}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_32</key>
            <dict>
                <key>frame</key>
                <string>{{286,336},{69,62}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,62}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_33</key>
            <dict>
                <key>frame</key>
                <string>{{286,400},{69,60}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_34</key>
            <dict>
                <key>frame</key>
                <string>{{357,378},{69,58}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,58}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_35</key>
            <dict>
                <key>frame</key>
                <string>{{357,438},{69,56}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,56}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_36</key>
            <dict>
                <key>frame</key>
                <string>{{428,286},{69,54}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,54}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_37</key>
            <dict>
                <key>frame</key>
                <string>{{439,73},{69,52}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_38</key>
            <dict>
                <key>frame</key>
                <string>{{439,144},{69,50}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,50}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_39</key>
            <dict>
                <key>frame</key>
                <string>{{439,215},{69,50}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,50}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_4</key>
            <dict>
                <key>frame</key>
                <string>{{286,266},{69,68}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_40</key>
            <dict>
                <key>frame</key>
                <string>{{428,357},{69,48}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,48}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_41</key>
            <dict>
                <key>frame</key>
                <string>{{428,428},{69,48}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,48}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_5</key>
            <dict>
                <key>frame</key>
                <string>{{286,184},{69,80}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,80}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_6</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{69,94}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,94}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_7</key>
            <dict>
                <key>frame</key>
                <string>{{144,130},{69,112}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,112}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_8</key>
            <dict>
                <key>frame</key>
                <string>{{73,142},{69,130}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,130}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,152}}</string>
                <key>sourceSize</key>
                <string>{69,152}</string>
            </dict>
            <key>trap6_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap6_normal</key>
            <dict>
                <key>frame</key>
                <string>{{357,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap6_selected</key>
            <dict>
                <key>frame</key>
                <string>{{357,166},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trap6.png</string>
            <key>size</key>
            <string>{493,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b607528de77debdf64c0f7ca44b6b5c:76325ea6e9b4d79b6761592e4adc1450:e1274d97d8189317c9d5f7808bc9aa87$</string>
            <key>textureFileName</key>
            <string>trap6.png</string>
        </dict>
    </dict>
</plist>
