<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap11_0</key>
            <dict>
                <key>frame</key>
                <string>{{1080,272},{96,45}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_1</key>
            <dict>
                <key>frame</key>
                <string>{{1080,272},{96,45}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_10</key>
            <dict>
                <key>frame</key>
                <string>{{1081,189},{96,81}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,81}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_11</key>
            <dict>
                <key>frame</key>
                <string>{{296,415},{96,89}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,89}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_12</key>
            <dict>
                <key>frame</key>
                <string>{{885,100},{96,93}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_13</key>
            <dict>
                <key>frame</key>
                <string>{{688,417},{96,89}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,89}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_14</key>
            <dict>
                <key>frame</key>
                <string>{{983,100},{96,89}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,89}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_15</key>
            <dict>
                <key>frame</key>
                <string>{{786,100},{96,97}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,97}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_16</key>
            <dict>
                <key>frame</key>
                <string>{{688,100},{96,105}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,105}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_17</key>
            <dict>
                <key>frame</key>
                <string>{{688,207},{96,103}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,103}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_18</key>
            <dict>
                <key>frame</key>
                <string>{{688,312},{96,103}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,103}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_19</key>
            <dict>
                <key>frame</key>
                <string>{{1047,2},{96,107}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_2</key>
            <dict>
                <key>frame</key>
                <string>{{1080,272},{96,45}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_20</key>
            <dict>
                <key>frame</key>
                <string>{{492,393},{96,113}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,113}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_21</key>
            <dict>
                <key>frame</key>
                <string>{{590,381},{96,121}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,121}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_22</key>
            <dict>
                <key>frame</key>
                <string>{{492,135},{96,129}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,129}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_23</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{96,133}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,133}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_24</key>
            <dict>
                <key>frame</key>
                <string>{{296,141},{96,135}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,135}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_25</key>
            <dict>
                <key>frame</key>
                <string>{{198,284},{96,137}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,137}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_26</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{96,137}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,137}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_27</key>
            <dict>
                <key>frame</key>
                <string>{{296,278},{96,135}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,135}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_28</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{96,131}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_29</key>
            <dict>
                <key>frame</key>
                <string>{{492,266},{96,125}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,125}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_3</key>
            <dict>
                <key>frame</key>
                <string>{{982,313},{96,45}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_30</key>
            <dict>
                <key>frame</key>
                <string>{{394,137},{96,133}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,133}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_31</key>
            <dict>
                <key>frame</key>
                <string>{{100,147},{96,141}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,141}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_32</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{96,147}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,147}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_33</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,149}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_34</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{96,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,149}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_35</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,143}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,143}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_36</key>
            <dict>
                <key>frame</key>
                <string>{{100,290},{96,141}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,141}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_37</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{96,139}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,139}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_38</key>
            <dict>
                <key>frame</key>
                <string>{{198,143},{96,139}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,139}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_39</key>
            <dict>
                <key>frame</key>
                <string>{{394,272},{96,133}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,133}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_4</key>
            <dict>
                <key>frame</key>
                <string>{{884,331},{96,45}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_40</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{96,125}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,125}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_41</key>
            <dict>
                <key>frame</key>
                <string>{{590,256},{96,123}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,123}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_42</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{96,121}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,121}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_43</key>
            <dict>
                <key>frame</key>
                <string>{{590,129},{96,125}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,125}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_44</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{96,121}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,121}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_45</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{96,111}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,111}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_46</key>
            <dict>
                <key>frame</key>
                <string>{{394,407},{96,99}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,99}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_47</key>
            <dict>
                <key>frame</key>
                <string>{{1081,100},{96,87}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_48</key>
            <dict>
                <key>frame</key>
                <string>{{198,423},{96,83}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,83}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_49</key>
            <dict>
                <key>frame</key>
                <string>{{983,191},{96,71}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,71}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{96,49}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,49}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_50</key>
            <dict>
                <key>frame</key>
                <string>{{786,198},{96,65}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,65}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_51</key>
            <dict>
                <key>frame</key>
                <string>{{786,265},{96,59}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,59}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_52</key>
            <dict>
                <key>frame</key>
                <string>{{982,264},{96,47}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,47}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_53</key>
            <dict>
                <key>frame</key>
                <string>{{1080,319},{96,45}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_54</key>
            <dict>
                <key>frame</key>
                <string>{{982,360},{96,45}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_55</key>
            <dict>
                <key>frame</key>
                <string>{{884,378},{96,45}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_56</key>
            <dict>
                <key>frame</key>
                <string>{{786,383},{96,45}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_57</key>
            <dict>
                <key>frame</key>
                <string>{{1080,366},{96,45}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_58</key>
            <dict>
                <key>frame</key>
                <string>{{1080,272},{96,45}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_6</key>
            <dict>
                <key>frame</key>
                <string>{{786,326},{96,55}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,55}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_7</key>
            <dict>
                <key>frame</key>
                <string>{{884,264},{96,65}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,65}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_8</key>
            <dict>
                <key>frame</key>
                <string>{{885,195},{96,67}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,67}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_9</key>
            <dict>
                <key>frame</key>
                <string>{{100,433},{96,73}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,73}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>trap11_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{884,425},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap11_normal</key>
            <dict>
                <key>frame</key>
                <string>{{966,425},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap11_selected</key>
            <dict>
                <key>frame</key>
                <string>{{1048,413},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trap11.png</string>
            <key>size</key>
            <string>{1179,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56597566387085732bc6bcfdf3d9b2cb:82b3d4a8d5744d62b53d30e3f5ab24c4:efb35318290ed4bfa851ad33bb63f63b$</string>
            <key>textureFileName</key>
            <string>trap11.png</string>
        </dict>
    </dict>
</plist>
