<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap10_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,64}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_1</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{93,64}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_10</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{93,66}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_11</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{93,66}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,64}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_13</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,64}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,64}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_15</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,64}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_16</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{93,70}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,70}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_17</key>
            <dict>
                <key>frame</key>
                <string>{{97,68},{93,92}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_18</key>
            <dict>
                <key>frame</key>
                <string>{{287,70},{93,106}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,106}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_19</key>
            <dict>
                <key>frame</key>
                <string>{{395,70},{93,114}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,114}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_2</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{93,66}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_20</key>
            <dict>
                <key>frame</key>
                <string>{{511,70},{93,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,152}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_21</key>
            <dict>
                <key>frame</key>
                <string>{{511,70},{93,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,152}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_22</key>
            <dict>
                <key>frame</key>
                <string>{{511,70},{93,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,152}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_23</key>
            <dict>
                <key>frame</key>
                <string>{{511,70},{93,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,152}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_24</key>
            <dict>
                <key>frame</key>
                <string>{{511,70},{93,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,152}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_25</key>
            <dict>
                <key>frame</key>
                <string>{{665,70},{93,150}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,150}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_26</key>
            <dict>
                <key>frame</key>
                <string>{{817,70},{93,144}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,144}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_27</key>
            <dict>
                <key>frame</key>
                <string>{{963,70},{93,140}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,140}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_28</key>
            <dict>
                <key>frame</key>
                <string>{{1105,70},{93,134}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,134}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_29</key>
            <dict>
                <key>frame</key>
                <string>{{1241,74},{93,128}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,128}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_3</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{93,66}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_30</key>
            <dict>
                <key>frame</key>
                <string>{{1371,74},{93,122}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,122}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_31</key>
            <dict>
                <key>frame</key>
                <string>{{1495,80},{93,116}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,116}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_32</key>
            <dict>
                <key>frame</key>
                <string>{{1613,84},{93,110}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,110}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_33</key>
            <dict>
                <key>frame</key>
                <string>{{1725,84},{93,104}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,104}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_34</key>
            <dict>
                <key>frame</key>
                <string>{{1831,84},{93,98}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,98}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_35</key>
            <dict>
                <key>frame</key>
                <string>{{192,68},{93,92}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_36</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{93,86}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,86}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_37</key>
            <dict>
                <key>frame</key>
                <string>{{1617,2},{93,80}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,80}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_38</key>
            <dict>
                <key>frame</key>
                <string>{{1522,2},{93,76}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,76}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_39</key>
            <dict>
                <key>frame</key>
                <string>{{1427,2},{93,70}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,70}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_4</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{93,66}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_40</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{93,66}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_41</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{93,64}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_42</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{93,64}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_43</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{93,64}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_44</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{93,66}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_45</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{93,66}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_46</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{93,64}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_47</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{93,64}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_48</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{93,64}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_49</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{93,66}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_5</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{93,66}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_50</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{93,66}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_51</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{93,64}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_52</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{93,64}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_53</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{93,64}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_54</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{93,64}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_55</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{93,66}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_56</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{93,66}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_57</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{93,64}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_58</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{93,64}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_6</key>
            <dict>
                <key>frame</key>
                <string>{{1047,2},{93,66}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_7</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{93,66}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_8</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{93,66}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_9</key>
            <dict>
                <key>frame</key>
                <string>{{1237,2},{93,66}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,154}</string>
            </dict>
            <key>trap10_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{1712,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap10_normal</key>
            <dict>
                <key>frame</key>
                <string>{{1794,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap10_selected</key>
            <dict>
                <key>frame</key>
                <string>{{1876,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trap10.png</string>
            <key>size</key>
            <string>{1958,179}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5502c3069b6a90d490c9b272e7f13fa:46c93e7de097706f50cd7a1e118c686c:b8174db6a0ca515fe5f6b0b6b37bdf01$</string>
            <key>textureFileName</key>
            <string>trap10.png</string>
        </dict>
    </dict>
</plist>
