<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap17_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{51,46}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{51,46}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{81,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,56}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{51,46}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{51,46}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{51,46}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{51,46}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{51,46}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{51,46}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_13</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{51,46}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{51,46}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{51,46}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{51,46}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_15</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{51,46}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{51,46}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_16</key>
            <dict>
                <key>frame</key>
                <string>{{60,301},{51,46}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{51,46}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_17</key>
            <dict>
                <key>frame</key>
                <string>{{60,301},{51,46}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{51,46}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_18</key>
            <dict>
                <key>frame</key>
                <string>{{60,301},{51,46}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{51,46}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_19</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{51,46}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{51,46}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_2</key>
            <dict>
                <key>frame</key>
                <string>{{60,248},{51,50}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,6},{51,50}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{51,46}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{51,46}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_4</key>
            <dict>
                <key>frame</key>
                <string>{{55,354},{51,46}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{51,46}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_5</key>
            <dict>
                <key>frame</key>
                <string>{{55,402},{51,46}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{51,46}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_6</key>
            <dict>
                <key>frame</key>
                <string>{{55,450},{51,46}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{51,46}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_7</key>
            <dict>
                <key>frame</key>
                <string>{{55,498},{51,46}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{51,46}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_8</key>
            <dict>
                <key>frame</key>
                <string>{{55,546},{51,46}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{51,46}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_9</key>
            <dict>
                <key>frame</key>
                <string>{{55,594},{51,46}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{51,46}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>trap17_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap17_normal</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap17_selected</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trap17.png</string>
            <key>size</key>
            <string>{112,667}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:271402f3df587323178d4564b3bacfbb:d2bf1765f1494cd91dd8edc2f99668ed:6b817fa9d363175a1cffabe30bb94f0b$</string>
            <key>textureFileName</key>
            <string>trap17.png</string>
        </dict>
    </dict>
</plist>
