<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trap13_0</key>
            <dict>
                <key>frame</key>
                <string>{{100,84},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_1</key>
            <dict>
                <key>frame</key>
                <string>{{248,29},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_10</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_11</key>
            <dict>
                <key>frame</key>
                <string>{{248,52},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_12</key>
            <dict>
                <key>frame</key>
                <string>{{346,25},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_13</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{96,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,25}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_15</key>
            <dict>
                <key>frame</key>
                <string>{{346,48},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_16</key>
            <dict>
                <key>frame</key>
                <string>{{444,25},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_17</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_18</key>
            <dict>
                <key>frame</key>
                <string>{{444,48},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_19</key>
            <dict>
                <key>frame</key>
                <string>{{542,25},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_2</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_20</key>
            <dict>
                <key>frame</key>
                <string>{{542,48},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_21</key>
            <dict>
                <key>frame</key>
                <string>{{640,25},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_22</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_23</key>
            <dict>
                <key>frame</key>
                <string>{{640,48},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_24</key>
            <dict>
                <key>frame</key>
                <string>{{738,25},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_25</key>
            <dict>
                <key>frame</key>
                <string>{{738,25},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_26</key>
            <dict>
                <key>frame</key>
                <string>{{738,25},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_27</key>
            <dict>
                <key>frame</key>
                <string>{{738,25},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_28</key>
            <dict>
                <key>frame</key>
                <string>{{738,25},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_29</key>
            <dict>
                <key>frame</key>
                <string>{{738,48},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_3</key>
            <dict>
                <key>frame</key>
                <string>{{248,75},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_30</key>
            <dict>
                <key>frame</key>
                <string>{{738,48},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_31</key>
            <dict>
                <key>frame</key>
                <string>{{346,71},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_32</key>
            <dict>
                <key>frame</key>
                <string>{{346,71},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_33</key>
            <dict>
                <key>frame</key>
                <string>{{346,94},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_34</key>
            <dict>
                <key>frame</key>
                <string>{{346,94},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_35</key>
            <dict>
                <key>frame</key>
                <string>{{444,71},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_36</key>
            <dict>
                <key>frame</key>
                <string>{{444,71},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_37</key>
            <dict>
                <key>frame</key>
                <string>{{444,94},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_38</key>
            <dict>
                <key>frame</key>
                <string>{{444,94},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_39</key>
            <dict>
                <key>frame</key>
                <string>{{542,71},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_4</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{96,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,25}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_40</key>
            <dict>
                <key>frame</key>
                <string>{{542,71},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_41</key>
            <dict>
                <key>frame</key>
                <string>{{542,94},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_42</key>
            <dict>
                <key>frame</key>
                <string>{{542,94},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_43</key>
            <dict>
                <key>frame</key>
                <string>{{542,94},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_44</key>
            <dict>
                <key>frame</key>
                <string>{{640,71},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_45</key>
            <dict>
                <key>frame</key>
                <string>{{640,71},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_46</key>
            <dict>
                <key>frame</key>
                <string>{{640,94},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_47</key>
            <dict>
                <key>frame</key>
                <string>{{640,94},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_48</key>
            <dict>
                <key>frame</key>
                <string>{{640,94},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_49</key>
            <dict>
                <key>frame</key>
                <string>{{738,71},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_5</key>
            <dict>
                <key>frame</key>
                <string>{{738,94},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_50</key>
            <dict>
                <key>frame</key>
                <string>{{738,71},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_51</key>
            <dict>
                <key>frame</key>
                <string>{{738,71},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_52</key>
            <dict>
                <key>frame</key>
                <string>{{100,84},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_53</key>
            <dict>
                <key>frame</key>
                <string>{{100,84},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_54</key>
            <dict>
                <key>frame</key>
                <string>{{100,84},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_6</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_7</key>
            <dict>
                <key>frame</key>
                <string>{{859,2},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_8</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_9</key>
            <dict>
                <key>frame</key>
                <string>{{905,2},{96,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,21}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>trap13_disabled</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap13_normal</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>trap13_selected</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trap13.png</string>
            <key>size</key>
            <string>{928,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba165ed46c29282bcaa6bb5ca96f1d8a:94e7abf9afd0445eab0ce8cf68bb08f1:a1cbf14122d70be3ad542fd64441d18c$</string>
            <key>textureFileName</key>
            <string>trap13.png</string>
        </dict>
    </dict>
</plist>
